<div class="section__heading">Výrobci</div>
<div class="section__row">
    <div class="filter-checkboxes filter-checkboxes--params">
        <ul>
            <li class="item">
                <input class="checkbox" id="checkbox-91" type="checkbox" value="value1">
                <label for="checkbox-91">Adidas</label><span class="number">(1)</span>
            </li>
            <li class="item">
                <input class="checkbox" id="checkbox-92" type="checkbox" value="value1">
                <label for="checkbox-92">IMIS Pharmaceutical</label><span class="number">(8)</span>
            </li>
            <li class="item">
                <input class="checkbox" id="checkbox-93" type="checkbox" value="value1">
                <label for="checkbox-93">IMIS Pharmaceutical</label><span class="number">(8)</span>
            </li>
            <li class="item">
                <input class="checkbox" id="checkbox-94" type="checkbox" value="value1">
                <label for="checkbox-94">NATURES ANSWER</label><span class="number">(25}</span>
            </li>
            <li class="item">
                <input class="checkbox" id="checkbox-95" type="checkbox" value="value1">
                <label for="checkbox-95">NATURES ANSWER</label><span class="number">(25}</span>
            </li>
            <li class="item">
                <input class="checkbox" id="checkbox-96" type="checkbox" value="value1">
                <label for="checkbox-96">IMIS Pharmal</label><span class="number">(85)</span>
            </li>
        </ul>
    </div>
</div>
