<div class="section__row">
    <div class="filter-checkboxes">
        <ul>
            <li class="item">
                <input class="checkbox" id="checkbox-1" type="checkbox" value="value1">
                <label for="checkbox-1">Pouze skladem</label>
            </li>
            <li class="item">
                <input class="checkbox" id="checkbox-12" type="checkbox" value="value1">
                <label for="checkbox-12">Akce</label>
            </li>
            <li class="item">
                <input class="checkbox" id="checkbox-13" type="checkbox" value="value1">
                <label for="checkbox-13">Novinky</label>
            </li>
        </ul>
    </div>
</div>
