<div class="products-filter products-filter--big">
    {{> products__filter__price--wo-btn}}

    <div class="products-filter__section">
        {{> products__filter__checkboxes--params}}
    </div>

    <div class="products-filter__section">
        {{> products__filter__checkboxes--params--w-group}}
    </div>

    <div class="products-filter__section">
        <div class="section__heading">Parametry s číselnou hodnotou</div>
        {{> products__filter__range}}
    </div>

    <div class="products-filter__section">
        <div class="section__heading">Parametry s hodnotou mimo rozsah</div>
        {{> products__filter__range--disabled}}
    </div>

    <div class="justify-content-center my-30"><a href="#modal-filter" class="btn btn--primary btn--filter popup-modal">Podrobná filtrace</a></div>

    {{> products__filter__chosen-params}}




</div>

{{> products__order}}
