<div class="pills pills--vertical">
    <ul class="nav nav-pills" id="myTab" role="tablist">
        <li class="nav-item">
            <button class="nav-link" id="producers-tab" data-bs-toggle="tab" data-bs-target="#producers" aria-controls="producers" aria-selected="true">Výrobci</button>
        </li>
        <li class="nav-item">
            <button class="nav-link active" id="producers-logo-tab" data-bs-toggle="tab" data-bs-target="#producers-logo" aria-controls="producers-logo" aria-selected="false">Výrobci s logem</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="params-tab" data-bs-toggle="tab" data-bs-target="#params" aria-controls="params" aria-selected="false">Parametry</button>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade" id="producers" aria-labelledby="producers-tab">
            <ul class="pills-filter">
                <li class="item">
                    <input class="checkbox" id="checkbox-2" type="checkbox" value="value1">
                    <label for="checkbox-2"><span class="label-text">IMIS Pharmaceutical</span><span class="number">(8)</span></label>
                </li>
                <li class="item">
                    <input class="checkbox" id="checkbox-9" type="checkbox" value="value1">
                    <label for="checkbox-9"><span class="label-text">NATURES ANSWER na dva řádky</span><span class="number">(25)</span></label>
                </li>
                <li class="item">
                    <input class="checkbox" id="checkbox-5" type="checkbox" value="value1">
                    <label for="checkbox-5"><span class="label-text">NATURES ANSWER</span><span class="number">(25)</span></label>
                </li>
                <li class="item">
                    <input class="checkbox" id="checkbox-6" type="checkbox" value="value1">
                    <label for="checkbox-6"><span class="label-text">IMIS Pharmal</span><span class="number">(85)</span></label>
                </li>
                <li class="item">
                    <input class="checkbox" id="checkbox-66" type="checkbox" value="value1">
                    <label for="checkbox-66"><span class="label-text">IMIS Pharmal</span><span class="number">(85)</span></label>
                </li>
                <li class="item">
                    <input class="checkbox" id="checkbox-67" type="checkbox" value="value1">
                    <label for="checkbox-67"><span class="label-text">IMIS Pharmal</span><span class="number">(85)</span></label>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade show active" id="producers-logo" aria-labelledby="profile-tab">
            <ul class="pills-filter">
                <li class="item">
                    <input class="checkbox" id="checkbox-91" type="checkbox" value="value1">
                    <label for="checkbox-91"><img src="assets/images/samples/brand.png" alt=""><span class="number">(1)</span></label>
                </li>
                <li class="item">
                    <input class="checkbox" id="checkbox-92" type="checkbox" value="value1">
                    <label for="checkbox-92"><span class="label-text">IMIS Pharmaceutical</span><span class="number">(8)</span></label>
                </li>
                <li class="item">
                    <input class="checkbox" id="checkbox-93" type="checkbox" value="value1">
                    <label for="checkbox-93"><img src="assets/images/samples/brand.png" alt=""><span class="number">(8)</span></label>
                </li>
                <li class="item checked">
                    <input class="checkbox" id="checkbox-94" type="checkbox" value="value1" checked>
                    <label for="checkbox-94"><span class="label-text">NATURES ANSWER na dva řádky</span><span class="number">(25)</span></label>
                </li>
                <li class="item">
                    <input class="checkbox" id="checkbox-95" type="checkbox" value="value1">
                    <label for="checkbox-95"><img src="assets/images/samples/brand.png" alt=""><span class="number">(25)</span></label>
                </li>
                <li class="item">
                    <input class="checkbox" id="checkbox-96" type="checkbox" value="value1">
                    <label for="checkbox-96"><span class="label-text">IMIS Pharmal</span><span class="number">(85)</span></label>
                </li>
            </ul>

            <div class="section__heading">Název skupiny parametrů</div>

            <ul class="pills-filter">
                <li class="item">
                    <input class="checkbox" id="checkbox-98" type="checkbox" value="value1">
                    <label for="checkbox-99"><span class="label-text">Pharmaceutical</span><span class="number">(1)</span></label>
                </li>
                <li class="item">
                    <input class="checkbox" id="checkbox-99" type="checkbox" value="value1">
                    <label for="checkbox-98"><span class="label-text">IMIS Pharmaceutical</span><span class="number">(8)</span></label>
                </li>
            </ul>

            <div class="section__heading">Parametr s číselnou hodnotou</div>

            {{> products__filter__range}}

        </div>
        <div class="tab-pane fade" id="params" aria-labelledby="params-tab"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis hic labore nesciunt quasi. Accusamus dolores earum eius eos error, facere nulla. Autem blanditiis itaque natus necessitatibus quod repellendus saepe voluptates!</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis hic labore nesciunt quasi. Accusamus dolores earum eius eos error, facere nulla. Autem blanditiis itaque natus necessitatibus quod repellendus saepe voluptates!</p></div>
    </div>
</div>

<div class="btns-wrapper btns-wrapper--end">
    <a href="#" class="btn btn--bigger btn--no-background">Zavřít</a>
    <a href="#" class="btn btn--bigger btn--primary">Zobrazit 10 položek</a>
</div>
