<div class="section__heading">Parametry se skupinou</div>
<div class="section__subheading">Skupina parametrů</div>
<div class="section__row">
    <div class="filter-checkboxes filter-checkboxes--params">
        <ul>
            <li class="item">
                <input class="checkbox" id="checkbox-24" type="checkbox" value="value1">
                <label for="checkbox-24">NATURES<span class="number">(25)</span></label>
            </li>
            <li class="item">
                <input class="checkbox" id="checkbox-25" type="checkbox" value="value1">
                <label for="checkbox-25">NATURES ANSWER<span class="number">(25)</span></label>
            </li>
            <li class="item">
                <input class="checkbox" id="checkbox-26" type="checkbox" value="value1">
                <label for="checkbox-26">IMIS Pharmal<span class="number">(85)</span></label>
            </li>
            <li class="item">
                <input class="checkbox" id="checkbox-27" type="checkbox" value="value1">
                <label for="checkbox-27">IMIS Pharmacal<span class="number">(85)</span></label>
            </li>
            <li class="item">
                <input class="checkbox" id="checkbox-28" type="checkbox" value="value1">
                <label for="checkbox-28">NATURES ANSWER<span class="number">(25)</span></label>
            </li>
        </ul>
    </div>
</div>

<div class="section__subheading">Skupina parametrů 2</div>
<div class="section__row">
    <div class="filter-checkboxes filter-checkboxes--params">
        <ul>
            <li class="item">
                <input class="checkbox" id="checkbox-31" type="checkbox" value="value1">
                <label for="checkbox-31">Adidas<span class="number">(1)</span></label>
            </li>
            <li class="item disabled">
                <input class="checkbox" id="checkbox-32" type="checkbox" value="value1" disabled>
                <label for="checkbox-32">IMIS Pharmaceutical<span class="number">(8)</span></label>
            </li>
        </ul>
    </div>
</div>

