<div class="products-filter__section">
    <h4 class="section__heading section__heading--big">Vybrané parametry</h4>

    <div class="section__row">
        <div class="filter-tags">
            <div class="filter-tags__row">
                <div class="filter-tag">
                    <span class="name">Cena od:</span>
                    <div class="values">
                        <span class="value">999 Kč<a class="close">✖</a></span>
                    </div>
                </div>
                <div class="filter-tag">
                    <span class="name">Cena do:</span>
                    <div class="values">
                        <span class="value">999 152 Kč<a class="close">✖</a></span>
                    </div>
                </div>
            </div>
            <div class="filter-tags__row">
                <div class="filter-tag">
                    <span class="name">Velikost:</span>
                    <div class="values">
                        <span class="value">XXL<a class="close">✖</a></span>
                        <span class="value">XL<a class="close">✖</a></span>
                        <span class="value">L<a class="close">✖</a></span>
                        <span class="value">M<a class="close">✖</a></span>
                        <span class="value">S<a class="close">✖</a></span>
                        <span class="value">XS<a class="close">✖</a></span>
                        <span class="value">XXS<a class="close">✖</a></span>
                    </div>
                </div>
            </div>
            <div class="filter-tags__row">
                <div class="filter-tag">
                    <span class="name">Maličkost:</span>
                    <div class="values">
                        <span class="value">XS<a class="close">✖</a></span>
                        <span class="value">XXS<a class="close">✖</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="filter-delete-all">
        <span><span class="close">✖</span> <a href="#">Zrušit všechny filtry</a></span>
    </div>
</div>
