<div class="filter-range-wrapper">
    <div class="filter-range">
        <div class="range-slider range-slider--disabled"></div>
    </div>

    <div class="input-w-value input-w-value--min">
        <input type="text" class="range-input range-input--min range-input--disabled" value="-" disabled>
        <span class="value">mm</span>
    </div>

    <div class="input-w-value input-w-value--max">
        <input type="text" class="range-input range-input--max range-input--disabled" value="-" disabled>
        <span class="value">mm</span>
    </div>
</div>
