<div class="widget widget--articles">
    {{> components__widget-heading}}
    <div class="widget__content">
        <article class="article">
            <h4 class="article__title"><a href="#">Pátek a sobota s dopravou ZDARMA</a></h4>
            <div class="article__text">
                <p>Ve dnech 16.3.-17.3. bude doprava při nákupu nad 399 kč zdarma...</p>
            </div>
        </article>

        <article class="article">
            <h4 class="article__title"><a href="#">Pátek a sobota s dopravou ZDARMA</a></h4>
            <div class="article__text">
                <p>Ve dnech 16.3.-17.3. bude doprava při nákupu nad 399 kč zdarma...</p>
            </div>
        </article>

        <article class="article">
            <h4 class="article__title"><a href="#">Pátek a sobota s dopravou ZDARMA</a></h4>
            <div class="article__text">
                <p>Ve dnech 16.3.-17.3. bude doprava při nákupu nad 399 kč zdarma...</p>
            </div>
        </article>
    </div>
</div>
