<div class="widget widget--newsletter">
    {{> components__widget-heading}}
    <div class="widget__content">
        <div class="newsletter__text">
            <h3 class="newsletter__heading">Odebírat newsletter</h3>
            <div class="newsletter__desc">
                <p>Nechcete přijít o slevy a mimořádné akce?</p>
                <p>Zadejte nám Vaši e-mailovou adresu a zůstaňte v obraze.</p>
            </div>
        </div>
        <div class="newsletter__action">
            <div class="input-with-btn">
                <input class="input-with-btn__input" type="text" placeholder="Zadejte e-mail">
                <input class="input-with-btn__btn" type="submit" value="Odeslat">
            </div>
            <div class="newsletter__note">
                <p>Odesláním souhlasíte se <a href="#">zpracováním osobních údajů</a></p>
            </div>
        </div>
    </div>
</div>
