<div class="widget--categories">
    <nav class="categories-nav">
        <ul>
            <li class="with-img active"><a href="#"><img class="lazy" data-src="assets/images/samples/batoh-icon.png" alt="">Turisticke batohy</a></li>
            <li class="with-img"><a href="#"><img class="lazy" data-src="assets/images/samples/kolobezka-icon.png" alt="">Koloběžky</a></li>
            <li class="with-img"><a href="#"><img class="lazy" data-src="assets/images/samples/batoh-icon.png" alt="">Turisticke batohy</a></li>
            <li class="with-img opened"><a href="#"><img class="lazy" data-src="assets/images/samples/helma-icon.png" alt="">Lyžařske helmy název na dva řádky</a>
                <ul class="submenu">
                    <li class="with-img"><a href="#"><img class="lazy" data-src="assets/images/samples/batoh-icon.png" alt="">Turisticke batohy</a></li>
                    <li class="with-img"><a href="#"><img class="lazy" data-src="assets/images/samples/kolobezka-icon.png" alt="">Koloběžky</a></li>
                    <li class="with-img opened"><a href="#"><img class="lazy" data-src="assets/images/samples/batoh-icon.png" alt="">Turisticke batohy</a>
                        <ul class="submenu">
                            <li><a href="#">Turisticke batohy</a></li>
                            <li class="active"><a href="#">Koloběžky</a></li>
                            <li><a href="#">Turisticke batohy</a></li>
                            <li><a href="#">Koloběžky</a></li>
                        </ul>
                    </li>
                    <li class="with-img"><a href="#"><img class="lazy" data-src="assets/images/samples/kolobezka-icon.png" alt="">Koloběžky</a></li>
                    <li class="with-img"><a href="#"><img class="lazy" data-src="assets/images/samples/kolobezka-icon.png" alt="">Koloběžky</a></li>
                </ul>
            </li>
            <li><a href="#">Koloběžky bez obrázku</a></li>
            <li class="opened"><a href="#">Lyžařske helmy bez obrázku</a>
                <ul class="submenu">
                    <li><a href="#">Turisticke batohy</a></li>
                    <li><a href="#">Koloběžky</a></li>
                    <li class="opened"><a href="#">Turisticke batohy</a>
                        <ul class="submenu">
                            <li><a href="#">Turisticke batohy</a></li>
                            <li class="active"><a href="#">Koloběžky</a></li>
                            <li><a href="#">Turisticke batohy</a></li>
                            <li><a href="#">Koloběžky</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Turisticke batohy</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
