<div class="search-whisperer">
    <div class="search-whisperer__section">
        <div class="section__heading">
            Naposledy jste hledali
        </div>
        <div class="section__item section__item--recently"><a href="#">koloběžka</a></div>
        <div class="section__item section__item--recently"><a href="#">náhradní kolo na koloběžku</a></div>
        <div class="section__item section__item--recently"><a href="#">odrazky</a></div>
        <div class="section__clear-history"><a href="#">Vymazat historii hledání</a></div>
    </div>
    <div class="search-whisperer__section">
        <div class="section__heading">
            Nejčastěji hledáte
        </div>
        <div class="section__item section__item--search"><a href="#">koloběžka</a></div>
        <div class="section__item section__item--search"><a href="#">autosedačka</a></div>
    </div>
</div>
