<div class="user__item user__login user__login--logged">
    <div class="user__item__wrapper">
        <span class="user__login__icon"></span>
        <span class="user__login__text">
            <span class="user__login__heading">Alexandr S.</span>
            <span class="user__login__subheading">Můj účet</span>
        </span>
    </div>

    <div class="user-menu">
        <ul class="user-menu__submenu submenu">
            <li><a href="#">Dodací a fakturační údaje</a></li>
            <li><a href="#">Moje objednávky a faktury</a></li>
            <li><a href="#">Seznam přání</a></li>
            <li><a href="#">Změna hesla</a></li>
            <li><a href="#">Udělené souhlasy</a></li>
            <li><a href="#">Odhlásit</a></li>
        </ul>
    </div>
</div>
