<div class="search__top">
    <span class="contact contact--phone"><i class="neo-phone"></i> 777 123 456</span>
    <span class="contact contact--menu">
                        <ul>
                            <li><a href="#">Kontakt</a></li>
                            <li><a href="#">Obchodní podmínky</a></li>
                        </ul>
                    </span>
</div>
<a id="searchMobile" href="#" class="search-mobile"><i class="neo-search"></i></a>
<div class="input-with-btn input-with-btn--search-input">
    <button id="mobileBack" class="mobile-back"><i class="neo-back"></i></button>
    <input class="input-with-btn__input no-border has-whisperer" type="text" placeholder="Hledaný výraz">
    <button class="input-with-btn__btn" type="submit" value="Hledat"><i class="neo-search"></i></button>
    {{> header__search__whisperer--v2}}
</div>
