<div class="user__item user__cart">
    <a class="user__item__wrapper" href="#">
        <span class="user__cart__icon">
            <span class="notify-num notify-num--conversion">6</span>
        </span>
        <span class="user__cart__price">129 Kč</span>
    </a>
    <div class="user__cart__open">
        <div class="cart-table">
            <div class="item">
                <div class="item__image">
                    <a href="#"><img class="lazy" data-src="assets/images/samples/boty.png" alt=""></a>
                </div>
                <div class="item__text">
                    <div class="item__text__title">
                        <a href="#">Boty dětské sportovní</a>
                    </div>
                    <div class="item__text__desc">
                        Barva: Černá, Velikost: 40
                    </div>
                </div>
                <div class="item__quantity">
                    1 ks
                </div>
                <div class="item__price">
                    4 299 Kč
                </div>
                <div class="item__close">
                    <a href="#">✖</a>
                </div>
            </div>

            <div class="item">
                <div class="item__image">
                    <a href="#"><img class="lazy" data-src="assets/images/samples/triko.png" alt=""></a>
                </div>
                <div class="item__text">
                    <div class="item__text__title">
                        <a href="#">Tričko pánské</a>
                    </div>
                    <div class="item__text__desc">
                        Barva: Bílá, Velikost: XXL
                    </div>
                </div>
                <div class="item__quantity">
                    1 ks
                </div>
                <div class="item__price">
                    1 299 Kč
                </div>
                <div class="item__close">
                    <a href="#">✖</a>
                </div>
            </div>

            <div class="item">
                <div class="item__image">
                    <a href="#"><img class="lazy" data-src="assets/images/samples/triko.png" alt=""></a>
                </div>
                <div class="item__text">
                    <div class="item__text__title">
                        <a href="#">Vans B Otw Checker Fill B Navy/White/Grey S</a>
                    </div>
                    <div class="item__text__desc">
                        Velikost: XXL
                    </div>
                </div>
                <div class="item__quantity">
                    1 ks
                </div>
                <div class="item__price">
                    299 Kč
                </div>
                <div class="item__close">
                    <a href="#">✖</a>
                </div>
            </div>
        </div>

        <div class="bottom">
            <div class="delivery-info">
                <div class="delivery-info__text">
                    <i class="neo-shipped"></i> <span>Do dopravy zdarma zbývá ještě <span class="c-primary">525 Kč</span></span>
                </div>
                <progress id="progress-delivery" value="50" max="100"></progress>
            </div>
            <div class="right">
                <a href="#" class="btn btn--conversion">Přejít do košíku</a>
            </div>
        </div>


    </div>
</div>
