<div class="search-whisperer search-whisperer--v2">
    <div class="tab-menu tab-menu--mobile">
        <button class="tab-menu__link active" onclick="whispererSections(event, 'tabProducts')">Produkty</button>
        <button class="tab-menu__link" onclick="whispererSections(event, 'tabCategories')">Kategorie</button>
        <button class="tab-menu__link" onclick="whispererSections(event, 'tabArticles')">Články</button>
        <button class="tab-menu__link" onclick="whispererSections(event, 'tabProducers')">Výrobci</button>
    </div>
    <div id="tabProducts" class="search-whisperer__tab-item tabcontent" style="display: block;">
        <div class="items">
            <div class="item">
                <div class="item__img">
                    <a href="#"><img src="assets/images/samples/whisperer-kolobezka.png" alt=""></a>
                </div>
                <div class="item__text">
                    <div class="title"><a href="#"><span class="highlight">Koloběžka</span> do města s velkými koly zelená</a></div>
                    <div class="store-rating">
                        <div class="store store--yes">Skladem</div>
                        <div class="rating star-rating">
                            <span class="neo-icon neo-star"></span>
                            <span class="neo-icon neo-star"></span>
                            <span class="neo-icon neo-star"></span>
                            <span class="neo-icon neo-star"></span>
                            <span class="neo-icon neo-star"></span>
                        </div>
                    </div>
                </div>
                <div class="item__price">
                    <div class="price price--old">místo 16 990 Kč</div>
                    <div class="price price--new">od 15 990 Kč</div>
                </div>
            </div>

            <div class="item-separator"></div>
            <div class="item">

                <div class="item__img">
                    <a href="#"><img src="assets/images/samples/whisperer-kolobezka.png" alt=""></a>
                </div>
                <div class="item__text">
                    <div class="title"><a href="#"><span class="highlight">Koloběžka</span> do města s velkými koly modrá</a></div>
                    <div class="store-rating">
                        <div class="store store--yes">Skladem více než 10 ks</div>
                        <div class="rating star-rating">
                            <span class="neo-icon neo-star"></span>
                            <span class="neo-icon neo-star"></span>
                            <span class="neo-icon neo-star-empty"></span>
                            <span class="neo-icon neo-star-empty"></span>
                            <span class="neo-icon neo-star-empty"></span>
                        </div>
                    </div>
                </div>

                <div class="item__price">
                    <div class="price">od 15 990 Kč</div>
                </div>
            </div>

            <div class="item-separator"></div>
            <div class="item">

                <div class="item__img">
                    <a href="#"><img src="assets/images/samples/whisperer-kolobezka.png" alt=""></a>
                </div>
                <div class="item__text">
                    <div class="title"><a href="#">Přilba na <span class="highlight">koloběžk</span>u </a></div>
                    <div class="store-rating">
                        <div class="store">Dostupnost neznámá</div>
                    </div>
                </div>

                <div class="item__price">
                    <div class="price">od 15 990 Kč</div>
                </div>
            </div>

            <div class="item-separator"></div>
            <div class="item">

                <div class="item__img">
                    <a href="#"><img src="assets/images/samples/whisperer-kolobezka.png" alt=""></a>
                </div>
                <div class="item__text">
                    <div class="title"><a href="#"><span class="highlight">Koloběžka</span> do města s velkými koly modrá</a></div>
                    <div class="store-rating">
                        <div class="store store--yes">Skladem</div>
                        <div class="rating star-rating">
                            <span class="neo-icon neo-star"></span>
                            <span class="neo-icon neo-star"></span>
                            <span class="neo-icon neo-star-half"></span>
                            <span class="neo-icon neo-star-empty"></span>
                            <span class="neo-icon neo-star-empty"></span>
                        </div>
                    </div>
                </div>

                <div class="item__price">
                    <div class="price">od 15 990 Kč</div>
                </div>
            </div>

            <div class="item-separator"></div>
            <div class="item">

                <div class="item__img">
                    <a href="#"><img src="assets/images/samples/whisperer-kolobezka.png" alt=""></a>
                </div>
                <div class="item__text">
                    <div class="title"><a href="#"><span class="highlight">Koloběžka</span> do města s velkými koly modrá</a></div>
                    <div class="store-rating">
                        <div class="store store--not">Není skladem</div>
                        <div class="rating star-rating">
                            <span class="neo-icon neo-star"></span>
                            <span class="neo-icon neo-star"></span>
                            <span class="neo-icon neo-star-empty"></span>
                            <span class="neo-icon neo-star-empty"></span>
                            <span class="neo-icon neo-star-empty"></span>
                        </div>
                    </div>
                </div>

                <div class="item__price">
                    <div class="price">od 159 990 Kč</div>
                </div>
            </div>
        </div>

        <div class="show-all">
            <a href="">Zobrazit všechny produkty</a>
        </div>
    </div>

    <div id="tabCategories" class="search-whisperer__tab-item tabcontent">
        <div class="search-section">
            <h4 class="search-section__title">Kategorie</h4>
            <div class="search-section__content">
                <div class="item item--category"><a href="#">Jízdní kola</a> / <a href="#"><span class="highlight">koloběžky</span></a></div>
                <div class="item item--category"><a href="#">Jízdní kola</a> / <a href="#"><span class="highlight">koloběžky</span></a> / <a href="#">příslušenství</a></div>
                <div class="item item--category"><a href="#">Jízdní kola</a> / <a href="#"><span class="highlight">koloběžky</span></a></div>
            </div>
        </div>
    </div>

    <div id="tabArticles" class="search-whisperer__tab-item tabcontent">
        <div class="search-section">
            <h4 class="search-section__title">Články</h4>
            <div class="search-section__content">
                <div class="item item--article"><a href="#">Jak vybrat <span class="highlight">koloběžku</span>?</a></div>
                <div class="item item--article"><a href="#"><span class="highlight">Koloběžkou</span> do práce</a></div>
            </div>
        </div>
    </div>

    <div id="tabProducers" class="search-whisperer__tab-item tabcontent">
        <div class="search-section">
            <h4 class="search-section__title">Výrobce</h4>
            <ul class="list">
                <li><a href="#">Olpran</a></li>
                <li><a href="#">Merida</a></li>
                <li><a href="#">Focus</a></li>
            </ul>
        </div>
    </div>

</div>


<script>
    function whispererSections(evt, section) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("search-whisperer__tab-item");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tab-menu__link");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(section).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
