<div class="search-whisperer search-whisperer--v2">
    <div class="items">
        <div class="item">
            <div class="item__img">
                <a href="#"><img src="assets/images/samples/whisperer-kolobezka.png" alt=""></a>
            </div>
            <div class="item__text">
                <div class="title"><a href="#"><span class="highlight">Koloběžka</span> do města s velkými koly zelená</a></div>
                <div class="store-rating">
                    <div class="store store--yes">Skladem</div>
                    <div class="rating star-rating">
                        <span class="neo-icon neo-star"></span>
                        <span class="neo-icon neo-star"></span>
                        <span class="neo-icon neo-star"></span>
                        <span class="neo-icon neo-star"></span>
                        <span class="neo-icon neo-star"></span>
                    </div>
                </div>
            </div>
            <div class="item__price">
                <div class="price price--old">místo 16 990 Kč</div>
                <div class="price price--new">od 15 990 Kč</div>
            </div>
        </div>

        <div class="item-separator"></div>
        <div class="item">

            <div class="item__img">
                <a href="#"><img src="assets/images/samples/whisperer-kolobezka.png" alt=""></a>
            </div>
            <div class="item__text">
                <div class="title"><a href="#"><span class="highlight">Koloběžka</span> do města s velkými koly modrá</a></div>
                <div class="store-rating">
                    <div class="store store--yes">Skladem více než 10 ks</div>
                    <div class="rating star-rating">
                        <span class="neo-icon neo-star"></span>
                        <span class="neo-icon neo-star"></span>
                        <span class="neo-icon neo-star-empty"></span>
                        <span class="neo-icon neo-star-empty"></span>
                        <span class="neo-icon neo-star-empty"></span>
                    </div>
                </div>
            </div>

            <div class="item__price">
                <div class="price">od 15 990 Kč</div>
            </div>
        </div>

        <div class="item-separator"></div>
        <div class="item">

            <div class="item__img">
                <a href="#"><img src="assets/images/samples/whisperer-kolobezka.png" alt=""></a>
            </div>
            <div class="item__text">
                    <div class="title"><a href="#">Přilba na <span class="highlight">koloběžk</span>u </a></div>
                <div class="store-rating">
                    <div class="store">Dostupnost neznámá</div>
                </div>
            </div>

            <div class="item__price">
                <div class="price">od 15 990 Kč</div>
            </div>
        </div>

        <div class="item-separator"></div>
        <div class="item">

            <div class="item__img">
                <a href="#"><img src="assets/images/samples/whisperer-kolobezka.png" alt=""></a>
            </div>
            <div class="item__text">
                <div class="title"><a href="#"><span class="highlight">Koloběžka</span> do města s velkými koly modrá</a></div>
                <div class="store-rating">
                    <div class="store store--yes">Skladem</div>
                    <div class="rating star-rating">
                        <span class="neo-icon neo-star"></span>
                        <span class="neo-icon neo-star"></span>
                        <span class="neo-icon neo-star-half"></span>
                        <span class="neo-icon neo-star-empty"></span>
                        <span class="neo-icon neo-star-empty"></span>
                    </div>
                </div>
            </div>

            <div class="item__price">
                <div class="price">od 15 990 Kč</div>
            </div>
        </div>

        <div class="item-separator"></div>
        <div class="item">

            <div class="item__img">
                <a href="#"><img src="assets/images/samples/whisperer-kolobezka.png" alt=""></a>
            </div>
            <div class="item__text">
                <div class="title"><a href="#"><span class="highlight">Koloběžka</span> do města s velkými koly modrá</a></div>
                <div class="store-rating">
                    <div class="store store--not">Není skladem</div>
                    <div class="rating star-rating">
                        <span class="neo-icon neo-star"></span>
                        <span class="neo-icon neo-star"></span>
                        <span class="neo-icon neo-star-empty"></span>
                        <span class="neo-icon neo-star-empty"></span>
                        <span class="neo-icon neo-star-empty"></span>
                    </div>
                </div>
            </div>

            <div class="item__price">
                <div class="price">od 159 990 Kč</div>
            </div>
        </div>
    </div>

    <div class="show-all">
        <a href="">Zobrazit všechny produkty</a>
    </div>

    <div class="search-sections">
        <div class="search-section">
            <h4 class="search-section__title">Kategorie</h4>
            <div class="search-section__content">
                <div class="item item--category"><a href="#">Jízdní kola</a> / <a href="#"><span class="highlight">koloběžky</span></a></div>
                <div class="item item--category"><a href="#">Jízdní kola</a> / <a href="#"><span class="highlight">koloběžky</span></a> / <a href="#">příslušenství</a></div>
                <div class="item item--category"><a href="#">Jízdní kola</a> / <a href="#"><span class="highlight">koloběžky</span></a></div>
            </div>
        </div>

        <div class="search-section">
            <h4 class="search-section__title">Články</h4>
            <div class="search-section__content">
                <div class="item item--article"><a href="#">Jak vybrat <span class="highlight">koloběžku</span>?</a></div>
                <div class="item item--article"><a href="#"><span class="highlight">Koloběžkou</span> do práce</a></div>
            </div>
        </div>

        <div class="search-section">
            <h4 class="search-section__title">Výrobce</h4>
            <ul class="list">
                <li><a href="#">Olpran</a></li>
                <li><a href="#">Merida</a></li>
                <li><a href="#">Focus</a></li>
            </ul>
        </div>
    </div>

</div>
