@import 'functions';

// Magnific Popup variables
$mfp-overlay-opacity: 0.5;

// Grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;

// 'rem' base value
$rem: 16px;

// Color variables

$darken-const: 10%;

$c-primary: var(--c-primary);
$c-primary-dark: var(--c-primary-dark);
$c-secondary: var(--c-secondary);
$c-secondary-dark: var(--c-secondary-dark);
$c-header-text: var(--c-header-text);
$c-menu: #ffffff;
$c-menu-dark: darken($c-menu, $darken-const);
$c-background: var(--c-background);
$c-conversion: var(--c-conversion);
$c-conversion-dark: var(--c-conversion-dark);
$c-content: var(--c-content);
$c-content-dark: var(--c-content-dark);
$c-text: var(--c-text);
$c-text-input: var(--c-text-input);
$c-text-dark: var(--c-text-dark);
$c-text-footer: $c-text;
$c-text-menu: $c-text;

$c-error-warning: #a45100;
$bg-error-warning: #ffb267;
$c-error-success: #5f882a;
$bg-error-success: #b1de76;
$c-error-info: #1d76a3;
$bg-error-info: #c5e3f5;
$c-store-yes: var(--c-in-stock);
$c-store-not: var(--c-not-in-stock);
$c-wrapper-border: var(--c-wrapper-border);

$c-red: #eb2f2f;
$c-gray: #8c8c8c;

// font-weight variables

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
