<div class="item item--center">
    <div class="item__image">
        <span class="sticky-number">1.</span>
        <a href=""><img src="assets/images/samples/produkt.png" alt=""></a>
    </div>
    <div class="item__store-rating">
        <div class="store store--yes">Skladem u dodavetele více než 10&nbsp;ks</div>
        <div class="item__rating star-rating" title="Hodnocení: 50%">
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star-half"></span>
            <span class="neo-icon neo-star-empty"></span>
            <span class="neo-icon neo-star-empty"></span>
        </div>
    </div>
    <div class="item__title"><a href="">Rossignol Název produktu s názvem na dva řádky ale bez anotace</a></div>
    <div class="item__price-buy">
        <div class="item__price">156 900 Kč</div>
    </div>
</div>
