<div class="products-order">
    <div class="order-left">
        <div class="name">Řadit podle:</div>
        <ul class="items ul-to-dropdown">
            <li class="item init"><a href="" class="active">Doporučení</a></li>
            <li class="item"><a href="">Nejlevnější</a></li>
            <li class="item"><a href="">Nejdražší</a></li>
            <li class="item"><a href="">Názvu</a></li>
            <li class="item"><a href="">Hodnocení</a></li>
        </ul>
    </div>
    <div class="order-right">
        <div class="name">Položek na stránku</div>
        <ul class="items-per-page">
            <li class="item"><a href="">16</a></li>
            <li class="item"><a href="" class="active">32</a></li>
            <li class="item"><a href="">64</a></li>
        </ul>
    </div>
</div>
