<div class="item">
    <div class="item__image">
        <span class="sticker">-50%</span>
        <a href=""><img class="lazy owl-lazy" data-src="assets/images/samples/brasna.png" alt=""></a>
    </div>
    <div class="item__store-rating">
        <div class="store">K dispozici více druhů</div>
        <div class="item__rating" title="Hodnocení: 50%">
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star-empty"></span>
        </div>
    </div>
    <div class="item__title"><a href="">Umax VisionBook 14Wr Plus, šedá</a></div>
    <div class="item__params">
        <ul>
            <li><span class="text">Úhlopříčka displeje:</span> <span class="value">14,1”</span></li>
            <li><span class="text">Rozlišení displeje:</span> <span class="value">1920 x 1080 (Full HD)</span></li>
            <li><span class="text">Typ procesoru:</span> <span class="value">Intel Celeron</span></li>
            <li><span class="text">Grafická karta:</span> <span class="value">Intel UHD Graphics 600</span></li>
        </ul>
    </div>
    <div class="item__price-buy">
        <div class="item__price">6 900 Kč</div>
        <div class="item__buy">
            <a href="#" class="btn btn--conversion">Do košíku</a>
        </div>
    </div>
</div>
