<div class="pruducts-grid">
    {{> products__grid-item}}
    {{> products__grid-item}}
    {{> products__grid-item2}}
    <a class="inpage-banner d-xl-flex d-lg-flex inpage-banner--white-text lazy" data-bg="assets/images/samples/main-banner.jpg" href="#"><span class="text">BANNER</span></a>
    {{> products__grid-item3}}
    <a class="inpage-banner d-xxl-flex d-md-flex d-sm-flex d-xs-flex inpage-banner--white-text lazy" data-bg="assets/images/samples/main-banner.jpg" href="#"><span class="text">BANNER</span></a>
    {{> products__grid-item3}}
    {{> products__grid-item}}
    {{> products__grid-item}}
    {{> products__grid-item2}}
</div>
