<div class="item">
    <div class="item__image">
        <span class="sticker">-50%</span>
        <a href=""><img class="lazy owl-lazy" data-src="assets/images/samples/notebook.png" alt=""></a>
    </div>
    <div class="item__quick-actions">
        <ul>
            <li class="item__quick-action item__quick-action--compare">
                <a href="#"><span class="name">Porovnat</span> <i class="neo-scales"></i></a>
            </li>
            <li class="item__quick-action item__quick-action--favourite">
                <a href="#"><span class="name">Do oblíbených</span> <i class="neo-heart"></i></a>
            </li>
            <li class="item__quick-action item__quick-action--search">
                <a href="#"><span class="name">Vyhledat</span> <i class="neo-search"></i></a>
            </li>
        </ul>
    </div>
    <div class="item__store-rating">
        <div class="store store--not">Není skladem</div>
        <div class="item__rating" title="Hodnocení: 50%">
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star-empty"></span>
        </div>
    </div>
    <div class="item__title"><a href="">Podsedlová brašna Topeak Aero Wedge Pack, Medium - najeď na mě myší</a></div>
    <div class="item__desc">Univerzální podsedlová brašna se systémem uchycení QuickClick. Tato brašna Vám nabízí aerodynamický tvar, reflexní prvky a skvělý design.</div>
    <div class="item__gift">Podsedlový držák z odlehčené slitiny a nevim co ještě vymyslet na dva řádky</div>
    <div class="item__gift">Ještě jeden dárek</div>
    <div class="item__price-buy">
        <div class="item__price">
            <div class="item__price--old">od 211 200 Kč</div>
            <div class="item__price--new"><span class="fs-18">od</span> 116 999 Kč</div>
        </div>
        <div class="item__buy">
            <a href="#" class="btn btn--conversion">Do košíku</a>
        </div>
    </div>
</div>
