<div class="item item--center">
    <div class="item__image">
        <span class="sticker">-50%</span>
        <a href=""><img src="assets/images/samples/brasna.png" alt=""></a>
    </div>
    <div class="item__store-rating">
        <div class="store">K dispozici více druhů</div>
        <div class="item__rating star-rating" title="Hodnocení: 50%">
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star-empty"></span>
        </div>
    </div>
    <div class="item__title"><a href="">Umax VisionBook 14Wr Plus, šedá</a></div>
    <div class="item__price-buy">
        <div class="item__price">6 900 Kč</div>
    </div>
</div>
