<div class="item">
    <div class="item__image">
        <a href=""><img class="lazy owl-lazy" data-src="assets/images/samples/produkt.png" alt=""></a>
    </div>
    <div class="item__tags">
        <ul>
            <li class="item__tag item__tag--blue">Doporučujeme</li>
            <li class="item__tag item__tag--black">Dárek zdarma</li>
        </ul>
    </div>
    <div class="item__quick-actions">
        <ul>
            <li class="item__quick-action item__quick-action--compare">
                <a href="#"><span class="name">Porovnat</span> <i class="neo-scales"></i></a>
            </li>
            <li class="item__quick-action item__quick-action--favourite">
                <a href="#"><span class="name">Do oblíbených</span> <i class="neo-heart"></i></a>
            </li>
            <li class="item__quick-action item__quick-action--search">
                <a href="#"><span class="name">Vyhledat</span> <i class="neo-search"></i></a>
            </li>
        </ul>
    </div>
    <div class="item__store-rating">
        <div class="store store--yes">Skladem více než 10 ks</div>
        <div class="item__rating star-rating" title="Hodnocení: 50%">
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star-half"></span>
            <span class="neo-icon neo-star-empty"></span>
            <span class="neo-icon neo-star-empty"></span>
        </div>
    </div>
    <div class="item__title"><a href="">Rossignol Název produktu s názvem na dva řádky ale bez anotace</a></div>
    <div class="item__price-buy">
        <div class="item__price">156 900 Kč</div>
        <div class="item__buy">
            <a href="#" class="btn btn--conversion">Do košíku</a>
        </div>
    </div>
</div>
