<div class="product-detail__other-variants product-detail__row-item">
    <h3 class="title">Další varianty zboží</h3>
    <table class="variants-table">
        <tbody>
        <tr>
            <td class="img"><a href=""><img class="lazy" data-src="assets/images/samples/product-detail-photo.png" alt=""></a></td>
            <td class="name"><a href="">MODRÁ</a></td>
            <td class="store store--yes">Skladem</td>
            <td class="price">99 599 Kč</td>
        </tr>
        <tr>
            <td class="img"><a href=""><img class="lazy" data-src="assets/images/samples/product-detail-photo.png" alt=""></a></td>
            <td class="name"><a href="">ZELENÁ je dobrá</a></td>
            <td class="store store--yes">Taky skladem</td>
            <td class="price">995 599 Kč</td>
        </tr>
        </tbody>
    </table>
</div>
