<div class="links-div">
    <a href="#" class="link-detailed-desc link-detailed-desc--params"><i class="neo-menu"></i>Podrobný popis a parametry</a>
    <div class="rating">
        <div class="star-rating" title="Hodnocení: 50%">
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star-half"></span>
            <span class="neo-icon neo-star-empty"></span>
            <span class="neo-icon neo-star-empty"></span>
        </div>
        <span class="rating-count">(5)</span>
        <a href="#" class="link-detailed-desc">Zobrazit hodnocení</a>
    </div>
</div>
