<div class="params-options">
    <div class="params-options__item select-w-label">
        <span class="select-label">Střih</span>
        <div class="select-wrap">
            <select name="" id="" class="form-control">
                <option value="0">- Vyberte -</option>
                <option value="slim fit">Slim fit</option>
                <option value="regular fit">Regular fit Regular fit</option>
                <option value="fit">Fit</option>
                <option value="unfit">unFit</option>
            </select>
        </div>
    </div>
    <div class="params-options__item select-w-label">
        <span class="select-label">Velikost</span>
        <div class="select-wrap">
            <select name="" id="" class="form-control">
                <option value="0">- Vyberte -</option>
                <option value="slim fit">XL</option>
                <option value="regular fit">L</option>
                <option value="fit">M</option>
                <option value="unfit">XXS</option>
            </select>
        </div>
    </div>
    <div class="params-options__item select-w-label">
        <span class="select-label">Barva</span>
        <div class="select-wrap">
            <select name="" id="" class="form-control">
                <option value="0">- Vyberte -</option>
                <option value="slim fit">Červená</option>
                <option value="regular fit">Modrá</option>
                <option value="fit">Černá</option>
                <option value="unfit">Bílá</option>
            </select>
        </div>
    </div>
</div>
