<div class="product-detail__services">
    <div class="product-detail__services__row">
        <div class="services__image">
            <img class="lazy" data-src="assets/images/samples/guarantee.png" alt="">
        </div>
        <div class="services__desc">
            <span class="services__desc__name">Prodloužená záruka <span class="tooltip-item neo-info" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Tooltip lorem ipsum lalalala lalala" aria-label="Tooltip lorem ipsum lalalala lalala"></span></span>
        </div>
        <div class="services__options">
            <div class="services__checkbox">
                <input class="checkbox checkbox--responsive" id="checkbox-1" type="checkbox" value="value1" checked>
                <label for="checkbox-1">+ 1 rok <span class="tooltip-item neo-info" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Tooltip pro jeden rok navíc" aria-label="Tooltip pro jeden rok navíc"></span> <span class="unchecked-price">+ 199 Kč / ks</span></label>
            </div>
            <div class="services__checkbox">
                <input class="checkbox checkbox--responsive" id="checkbox-2" type="checkbox" value="value2">
                <label for="checkbox-2">+ 2 roky <span class="unchecked-price">+ 299 Kč / ks</span></label>
            </div>
            <div class="services__checkbox">
                <input class="checkbox checkbox--responsive" id="checkbox-3" type="checkbox" value="value2">
                <label for="checkbox-3">+ 3 roky <span class="unchecked-price">+ 399 Kč / ks</span></label>
            </div>
        </div>
    </div>

    <div class="product-detail__services__row">
        <div class="services__image">
            <img class="lazy" data-src="assets/images/samples/guarantee.png" alt="">
        </div>
        <div class="services__options">
            <div class="services__checkbox">
                <input class="checkbox checkbox--responsive" id="checkbox-11" type="checkbox" value="value11">
                <label for="checkbox-11">Služba na přání k produktu <span class="tooltip-item neo-info" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Tooltip lorem ipsum lalalala lalala" aria-label="Tooltip lorem ipsum lalalala lalala"></span></label>
            </div>
        </div>
    </div>
</div>

<div class="product-detail__sales product-detail__row-item">
    <h2 class="title">Množstevní slevy</h2>
    <table class="table">
        <tbody>
        <tr>
            <td class="count">Cena za <span class="fw-medium">10 - 49 ks</span></td>
            <td class="sale"><span class="c-red">Sleva 25%</span></td>
            <td class="price"><span class="fw-medium">1281 Kč</span>/ks</td>
        </tr>
        <tr>
            <td class="count">Cena za <span class="fw-medium">50 - 149 ks</span></td>
            <td class="sale"><span class="c-red">Sleva 35%</span></td>
            <td class="price"><span class="fw-medium">991 Kč</span>/ks</td>
        </tr>
        <tr>
            <td class="count">Cena za <span class="fw-medium">150 a více ks</span></td>
            <td class="sale"><span class="c-red">Sleva 40%</span></td>
            <td class="price"><span class="fw-medium">781 Kč</span>/ks</td>
        </tr>
        </tbody>
    </table>
</div>
