<div class="properties">
    <div class="property property--color">
        <div class="subheading">Barva</div>
        <div class="property__colors property__items">
            <div class="property__color__item">
                <input type="radio" id="1" name="color" value="1">
                <label for="1" style="background-color: #096f69;"></label>
            </div>
            <div class="property__color__item">
                <input type="radio" id="2" name="color" value="2" checked>
                <label for="2" style="background-color: #9fc000;"></label>
            </div>
            <div class="property__color__item">
                <input type="radio" id="3" name="color" value="3">
                <label for="3" style="background-color: #e00d0d;"></label>
            </div>
            <div class="property__color__item">
                <input type="radio" id="4" name="color" value="4">
                <label for="4" style="background-color: #0d26e0;"></label>
            </div>
            <div class="property__color__item">
                <input type="radio" id="5" name="color" value="5">
                <label for="5" style="background-color: #ffffff;" class="label--white"></label>
            </div>
        </div>
    </div>

    <div class="property property--size">
        <div class="subheading">Velikost</div>
        <div class="property__sizes property__items">
            <div class="property__size__item">
                <input type="radio" id="XS" name="size" value="XS" disabled>
                <label for="XS">XS</label>
            </div>
            <div class="property__size__item">
                <input type="radio" id="S" name="size" value="S">
                <label for="S">S</label>
            </div>
            <div class="property__size__item">
                <input type="radio" id="M" name="size" value="M" checked>
                <label for="M">M</label>
            </div>
            <div class="property__size__item">
                <input type="radio" id="XXL" name="size" value="XXL">
                <label for="XXL">XXL</label>
            </div>
        </div>
    </div>

    <div class="property property--edition">
        <div class="subheading">Střih</div>
        <div class="select-wrap">
            <select name="" id="" class="form-control">
                <option value="0">- Vyberte -</option>
                <option value="slim fit">Slim fit</option>
                <option value="regular fit">Regular fit Regular fit</option>
                <option value="fit">Fit</option>
                <option value="unfit">unFit</option>
            </select>
        </div>
    </div>
</div>
