<div class="product-detail__add-to-cart product-detail__row-item">
    <div class="in-store">
    </div>
    <div class="prices-amount-btn">
        <div class="prices">
            <div class="prices__price">od 110 500 Kč<span class="note">/ks</span></div>
            <div class="prices__wo-vat">od 82 313,22 Kč<span class="note">bez DPH</span></div>
        </div>
        <div class="amount-btn">
            <span class="btn btn--primary">Vyberte variantu</span>
        </div>
    </div>
</div>
