<div class="product-detail__gifts product-detail__row-item">
    <div class="product-detail__gifts__img">
        <img class="lazy" data-src="assets/images/samples/brasna.png" alt="">
    </div>
    <div class="product-detail__gifts__text">
        <span class="heading c-red--2">+ Dárek zdarma</span>
        <p>Podsedlový držák z odlehčené slitiny a nevim co ještě vymyslet na dva řádky, takže musím přidat ještě pár dalších slov.</p>
    </div>
</div>

<div class="product-detail__others product-detail__row-item">
    <h3 class="title">Další v kategorii</h3>
    <ul class="list">
        <li class="item"><a href="#">Název kategorie</a>,</li>
        <li class="item"><a href="#">Další kategorie</a>,</li>
        <li class="item"><a href="#">Úplně jiná kategorie</a></li>
    </ul>
</div>
