<div class="product-detail__add-to-cart product-detail__row-item">
    <div class="in-store">
        <span class="store store--yes">Skladem více než 10 ks</span> <span class="tooltip-item neo-info" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Tooltip lorem ipsum lalalala lalala" aria-label="Tooltip lorem ipsum lalalala lalala"></span>
    </div>
    <div class="prices-amount-btn">
        <div class="prices">
            <div class="prices__price">110 500 Kč<span class="note">/ks</span></div>
            <div class="prices__wo-vat">82 313,22 Kč<span class="note">bez DPH</span></div>
        </div>
        <div class="amount-btn">
            <div class="amount">
                <div class="quantity-input quantity-input--inside">
                    <button class="quantity-input__btn quantity-input__btn--minus">-</button>
                    <input type="number" step="1" min="1" value="99" id="a" name="quantityCount" class="quantity-input__number">
                    <button class="quantity-input__btn quantity-input__btn--plus">+</button>
                </div>
            </div>
            <a href="#modal-add-to-cart" class="btn btn--add-to-cart btn--add-to-cart--type-2 popup-modal">Přidat do košíku</a>
        </div>
    </div>
</div>

{{> modals__add-to-cart}}
