<div class="product-detail__actions">
    <ul class="list">
        <li class="item"><a href="#"><i class="neo-scales"></i>Přidat k porovnání</a></li>
        <li class="item"><a href="#"><i class="neo-heart"></i>Přidat do oblíbených</a></li>
        <li class="item"><a href="#"><i class="neo-mail"></i>Dotaz na produkt</a></li>
        <li class="item"><a href="#"><i class="neo-share"></i>Sdílet</a></li>
    </ul>
</div>

<ul class="product-detail__product-info-note">
    <li class="item">Záruka: <span class="fw-medium">2 roky</span>,</li>
    <li class="item">Výrobce: <span class="fw-medium">s’Oliver</span>,</li>
    <li class="item">Kód výrobku: <span class="fw-medium">EA25666-2</span>,</li>
    <li class="item">Katalogové číslo: <span class="fw-medium">532158</span>,</li>
    <li class="item">EAN: <span class="fw-medium">8003558031146</span>.</li>
</ul>
