<div class="product-detail__add-to-cart product-detail__row-item">
    <div class="in-store">
        <span class="store store--yes">Skladem více než 10 ks</span> <span class="tooltip-item neo-info" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Tooltip lorem ipsum lalalala lalala" aria-label="Tooltip lorem ipsum lalalala lalala"></span>
    </div>
    <div class="delivery-date">
        Již v pondělí 29.2.2022 u Vás
    </div>
    <div class="prices-amount-btn">
        <div class="prices">
            <div class="prices__old">200 500 Kč</div>
            <div class="prices__price prices__new">110 500 Kč<span class="note">/ks</span></div>
            <div class="prices__wo-vat">82 313,22 Kč<span class="note">bez DPH</span></div>
        </div>
        <div class="amount-btn">
            <div class="amount">
                <div class="quantity-input quantity-input--inside">
                    <button class="quantity-input__btn quantity-input__btn--minus">-</button>
                    <input type="number" step="1" min="1" value="99" id="a" name="quantityCount" class="quantity-input__number">
                    <button class="quantity-input__btn quantity-input__btn--plus">+</button>
                </div>
            </div>
            <button class="btn btn--add-to-cart btn--add-to-cart--type-2">Přidat do košíku</button>
        </div>
    </div>
    <p class="bottom-note">Minimální odběr 3 ks. Zboží lze koupit po 6 ks. Maximální odběr 100 ks.</p>
</div>
