<div class="your-order content-wrapper">
    <div class="title-wrap">
        <h2 class="title">Vaše objednávka</h2>
        <span class="edit-link"><i class="neo-edit"></i> <a href="cart-1.html">upravit</a></span>
    </div>
    <div class="order-list scrollbared">
        <div class="item">
            <div class="item__main">
                <div class="item__image">
                    <img class="lazy" data-src="assets/images/samples/boty.png" alt="">
                </div>
                <div class="item__desc">
                    <span class="item__desc__name">Boty dětské sportovní</span>
                    <span class="item__desc__info">Barva: Černá, Velikost: 40</span>
                    <span class="store store--yes">Skladem</span>
                </div>
                <div class="item__price">3 350 Kč / ks</div>
            </div>

            <div class="item__bonus">
                <div class="item__image"></div>
                <div class="item__desc">
                    <span class="item__desc__name"><i class="neo-gift c-red"></i> 2x tkaničky do bot červené</span>
                </div>
                <div class="item__price">ZDARMA</div>
            </div>

            <div class="item__bonus">
                <div class="item__image"></div>
                <div class="item__desc">
                    <span class="item__desc__name"><strong>Prodloužená záruka</strong> <br>+ 1 rok</span>
                </div>
                <div class="item__price">299 Kč / ks</div>
            </div>
        </div> <!-- .item -->

        <div class="item">
            <div class="item__main">
                <div class="item__image">
                    <img class="lazy" data-src="assets/images/samples/triko.png" alt="">
                </div>
                <div class="item__desc">
                    <span class="item__desc__name">3x Tričko pánské, bílé</span>
                    <span class="store store--yes">Skladem</span>
                </div>
                <div class="item__price">350 Kč / ks</div>
            </div>
        </div> <!-- .item -->

        <div class="item">
            <div class="item__main">
                <div class="item__image">
                    <img class="lazy" data-src="assets/images/samples/triko.png" alt="">
                </div>
                <div class="item__desc">
                            <span class="item__desc__name"><i class="neo-gift c-red"></i> 2x Vans B Otw Checker Fill B
Navy/White/Grey S</span>
                </div>
                <div class="item__price">ZDARMA</div>
            </div>
        </div> <!-- .item -->

        <div class="item">
            <div class="item__main">
                <div class="item__image">
                    <img class="lazy" data-src="assets/images/samples/triko.png" alt="">
                </div>
                <div class="item__desc">
                    <span class="item__desc__name">2x VP Zoometrix 22410-10 - duhová abeceda 100% bavlna - panelo rozměru cca 60x110 cm</span>
                    <span class="store store--yes">Skladem více než 12 ks</span>
                </div>
                <div class="item__price">350 Kč / ks</div>
            </div>
        </div> <!-- .item -->

        <div class="item">
            <div class="item__main">
                <div class="item__image">
                    <img class="lazy" data-src="assets/images/samples/triko.png" alt="">
                </div>
                <div class="item__desc">
                    <span class="item__desc__name">3x Tričko pánské, bílé</span>
                    <span class="store store--yes">Skladem</span>
                </div>
                <div class="item__price">350 Kč / ks</div>
            </div>
        </div> <!-- .item -->

        <div class="item">
            <div class="item__main">
                <div class="item__image">
                    <img class="lazy" data-src="assets/images/samples/triko.png" alt="">
                </div>
                <div class="item__desc">
                    <span class="item__desc__name">3x Tričko pánské, bílé</span>
                    <span class="store store--yes">Skladem</span>
                </div>
                <div class="item__price">350 Kč / ks</div>
            </div>
        </div> <!-- .item -->

        <div class="item">
            <div class="item__main">
                <div class="item__image">
                    <img class="lazy" data-src="assets/images/samples/triko.png" alt="">
                </div>
                <div class="item__desc">
                    <span class="item__desc__name">3x Tričko pánské, bílé</span>
                    <span class="store store--yes">Skladem</span>
                </div>
                <div class="item__price">350 Kč / ks</div>
            </div>
        </div> <!-- .item -->

        <div class="item">
            <div class="item__main">
                <div class="item__image">
                    <img class="lazy" data-src="assets/images/samples/boty.png" alt="">
                </div>
                <div class="item__desc">
                    <span class="item__desc__name">Boty dětské sportovní</span>
                    <span class="item__desc__info">Barva: Černá, Velikost: 40</span>
                    <span class="store store--yes">Skladem</span>
                </div>
                <div class="item__price">3 350 Kč / ks</div>
            </div>
        </div> <!-- .item -->

        <div class="item">
            <div class="item__main">
                <div class="item__image">
                    <img class="lazy" data-src="assets/images/samples/discount.png" alt="">
                </div>
                <div class="item__desc">
                    <span class="item__desc__name">Sleva</span>
                </div>
                <div class="item__price">- 350 Kč</div>
            </div>
        </div> <!-- .item -->

    </div>
</div>

{{> cart__additional-strip--sale}}

{{> cart__additional-strip--delivery}}

<div class="order-summary-wrapper">

    <div class="order-summary__delivery">
        <div class="text">
            <span class="heading">Doprava</span>
            <span class="name">Českou poštou</span>
        </div>
        <div class="value">
            99 Kč
        </div>
    </div>

    <div class="order-summary__delivery">
        <div class="text">
            <span class="heading">Platba</span>
            <span class="name">Převodem</span>
        </div>
        <div class="value">
            ZDARMA
        </div>
    </div>

    <div class="order-summary">
        <div class="order-summary__price">
            <span class="text">Celkem v košíku:</span>
            <span class="value">226 488 Kč</span>
        </div>
        <div class="order-summary__price--small">
            <span class="text">Celková cena bez DPH:</span>
            <span class="value">116 488 Kč</span>
        </div>
    </div>

    <ul class="order-summary__checbkoxes">
        <li>
            <input class="checkbox" id="checkbox-10" type="checkbox" value="value1">
            <label for="checkbox-10">Prohlašuji, že jsem si přečetl/a <a class="link--dotted" href="#">osobní podmínky</a> a souhlasím s nimi</label>
        </li>
        <li>
            <input class="checkbox" id="checkbox-11" type="checkbox" value="value1">
            <label for="checkbox-11">Nesouhlasím se zasláním dotazníku spokojenosti, který napomáhá zlepšovat naše služby</label>
        </li>
    </ul>

    <a href="#" class="btn btn--conversion btn--order">Pokračovat <i class="neo-forward"></i></a>

    <div class="next-step-text">Ke shrnutí objednávky</div>
</div>
