<div class="delivery-radio__item">
    <div class="delivery-radio__item__left">
        <div class="delivery-radio__item__input">
            <label class="radio-label">
                <input type="radio" name="payment" checked>
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="delivery-radio__item__image">
            <img class="lazy" data-src="assets/images/samples/money.png" alt="">
        </div>
        <div class="delivery-radio__item__name">
            <div class="delivery-radio__item__name__heading">Hotově</div>
            <div class="delivery-radio__item__desc delivery-radio__item__desc--mobile">
                Platba v hotovosti na prodejně.
            </div>
        </div>
    </div>

    <div class="delivery-radio__item__right">
        <div class="delivery-radio__item__desc">
            Platba v hotovosti na prodejně.
        </div>
        <div class="delivery-radio__item__price">
            ZDARMA
        </div>
    </div>
</div>

<div class="delivery-radio__item">
    <div class="delivery-radio__item__left">
        <div class="delivery-radio__item__input">
            <label class="radio-label">
                <input type="radio" name="payment">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="delivery-radio__item__image">
            <img class="lazy" data-src="assets/images/samples/credit_card_contactless.png" alt="">
        </div>
        <div class="delivery-radio__item__name">
            <div class="delivery-radio__item__name__heading">Platební bránou Comgate</div>
            <div class="delivery-radio__item__desc delivery-radio__item__desc--mobile">
                Určíte si adresu, kam chcete balík doručit. Garantujeme doručení následující pracovní den.
            </div>
        </div>
    </div>

    <div class="delivery-radio__item__right">
        <div class="delivery-radio__item__desc">
            Určíte si adresu, kam chcete balík doručit. Garantujeme doručení následující pracovní den.
        </div>
        <div class="delivery-radio__item__price">
            109 Kč
        </div>
    </div>
</div>

<div class="delivery-radio__item">
    <div class="delivery-radio__item__left">
        <div class="delivery-radio__item__input">
            <label class="radio-label">
                <input type="radio" name="payment">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="delivery-radio__item__image">
            <img class="lazy" data-src="assets/images/samples/transaction.png" alt="">
        </div>
        <div class="delivery-radio__item__name">
            <div class="delivery-radio__item__name__heading">Dobírkou, platba při převzetí</div>
            <div class="delivery-radio__item__desc delivery-radio__item__desc--mobile">
                Určíte si adresu, kam chcete balík doručit. Garantujeme doručení následující pracovní den.
            </div>
        </div>
    </div>

    <div class="delivery-radio__item__right">
        <div class="delivery-radio__item__desc">
            Určíte si adresu, kam chcete balík doručit. Garantujeme doručení následující pracovní den.
        </div>
        <div class="delivery-radio__item__price">
            29 Kč
        </div>
    </div>
</div>
