<div class="footer__bottom__inner">
    <div class="footer__bottom__inner__left">
        <p class="copyright">Copyright © 2021&nbsp;<a href="#">demo.jzshop.cz</a> | <a href="">Cookies</a></p>

        <div class="theme-switcher-wrapper">
            <span class="text">Režim zobrazení</span>
            <input type="checkbox" class="theme-switcher-checkbox" id="theme-switcher-checkbox">
            <label for="theme-switcher-checkbox" class="theme-switcher-label">
                <i class="neo-info"></i>
                <i class="neo-ok"></i>
                <div class='theme-switcher-ball'></div>
            </label>
        </div>
    </div>
    <div>
        <p>Vytvořil <strong>JZShop.cz</strong> | Tvorba a pronájem eshopů</p>
    </div>
</div>
