<div class="news__item">
    <div class="news__item__image-wrapper">
        <a href="#">
            <span class="news__item__image">
                <img class="owl-lazy" data-src="assets/images/samples/news-thumb.jpg" alt="">
            </span>
            <span class="news__item__image__btn"><span class="text">Zobrazit článek</span></span>
        </a>
    </div>
    <div class="news__item__content">
        <h3 class="news__item__title"><a href="#">Jak vybrat sedačku</a></h3>
        <div class="news__item__tags">
            <ul>
                <li class="news__item__tag"><a href="#">Aromaterapie</a></li>
                <li class="news__item__tag"><a href="#">Rady</a></li>
            </ul>
        </div>
        <div class="news__item__text">
            <p>Velmi elegantní perfektně zpracovaná sedací souprava tvaru "U" s kvalitním rozkládáním a dvěma úložnými prostory. Na sedací soupravě jsou použity kvalitní součástky ....</p>
        </div>
    </div>
</div>
