.brands {
  margin-top: 20px;

  .item {
    background-color: var(--c-content);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--c-wrapper-border);
    padding: 15px 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 187px;
    &:hover {
      @include box-shadow--card;
    }
    @include media-breakpoint-only(xl) {
      height: 150px;
    }
    @include media-breakpoint-down(sm) {
      height: 162px;
    }

    img {
      width: auto !important;
    }
  }
}
