.btn {
  display: inline-flex;
  align-items: center;
  //padding: 10px 20px;
  padding: 0;
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 0;
  position: relative;
  cursor: pointer;
  font-weight: $fw-medium;
  min-height: 40px;

  &:active {
    //transform: translateY(5px);
  }

  .btn-front {
    border-radius: 5px;
    display: block;
    padding: 10px 20px;
    transform: translateY(-2px);
    position: relative;
  }

  .btn-front-text {
    position: relative;
    top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--mobile-fullwidth {
    @include media-breakpoint-down(sm) {
      width: 100%;
      .btn-front {
        width: 100%;
      }
    }
  }

  &.btn--primary {
    //padding: 12px 15px;
    background-color: var(--c-primary-dark);
    //box-shadow: inset 0 0 5px var(--c-primary-dark);
    color: var(--c-input-bg);

    .btn-front {
      padding: 12px 15px;
      background-color: var(--c-primary);
      &:hover {
        background-color: var(--c-primary-dark);
      }
    }

    &:active {
      .btn-front {
        background-color: var(--c-primary);
      }
    }

    &.btn--bigger {
      background-color: var(--c-primary);
      &:hover {
        background-color: var(--c-primary-dark);
      }
    }
  }

  &.btn--conversion {
    background-color: var(--c-conversion-dark);
    color: var(--c-btn-text);

    .btn-front {
      background-color: var(--c-conversion);
      &:hover {
        background-color: var(--c-conversion-dark);
      }
    }

    &:active {
      .btn-front {
        background-color: var(--c-conversion);
      }
    }
  }

  &.btn--add-to-cart {
    padding: 15px 18px 13px 71px;
    background-color: var(--c-conversion);
    box-shadow: inset 0 0 5px var(--c-conversion-dark);
    color: var(--c-btn-text);
    font-size: 20px;
    border-radius: 10px;
    &:hover {
      background-color: var(--c-conversion-dark);
    }
    &:active {
      background-color: var(--c-conversion);
    }

    &:before {
      @include neo-icon();
      content: "\f139";
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      width: 50px;
      height: 100%;
      background-color: var(--c-conversion-dark);
      border-radius: 10px 0 0 10px;
      font-size: 22px;
    }

    @include media-breakpoint-down(sm) {
      padding: 13px 15px 11px 55px;
      font-size: 16px;
      &:before {
        width: 40px;
        font-size: 18px;
      }
    }

    &--type-2 {
      padding: 13px 18px 11px 50px;
      border-radius: 5px;
      white-space: nowrap;
      &:before {
        @include neo-icon();
        content: "\f112";
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 10px;
        width: auto;
        height: 100%;
        background-color: transparent;
        border-radius: 0;
        font-size: 30px;
      }
    }
  }

  &.btn--order {
    width: 100%;
    justify-content: center;
    border-radius: 10px;
    font-size: 25px;
    font-weight: $fw-medium;
    text-align: center;

    @include media-breakpoint-only(xl) {
      font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 22px;
    }

    .btn-front {
      width: 100%;
      padding: 18px;
      border-radius: 10px;
      transform: translateY(-5px);
      @include media-breakpoint-only(xl) {
        padding: 15px;
      }
      @include media-breakpoint-down(sm) {
        padding: 12px 10px;
      }
    }

    .btn-front-text {
      top: 2.5px;
    }

    i {
      font-size: 45px;
    }
  }

  &.btn--back {
    width: 100%;
    padding: 18px 25px;
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: $fw-regular;
    color: var(--c-text);

    @include media-breakpoint-only(xl) {
      font-size: 20px;
      padding: 15px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 22px;
      padding: 12px 10px;
    }

    i {
      font-size: 25px;
      margin-right: 10px;
      color: var(--c-primary);
    }

    &:hover {
      background-color: var(--c-back-btn);
      color: var(--c-text);
    }
  }

  &.btn--filter {
    font-size: 18px;
    font-weight: $fw-regular;

    white-space: nowrap;

    .btn-front {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    i {
      padding-right: 5px;
      position: relative;
      top: -1px;
    }
  }

  &.btn--no-background {
    color: var(--c-text);
    padding: 12px 15px;
    background-color: transparent;
    &:hover {
      background-color: var(--c-back-btn);
      color: var(--c-text);
    }
  }

  &.btn--w-icon {
    padding-left: 35px;
    i {
      position: absolute;
      left: 10px;
      font-size: 18px;
    }
  }

  &.btn--gray-big {
    padding: 15px 15px;
    text-transform: none;
    background-color: var(--c-back-btn);
  }

  &.btn--bigger {
    padding: 18px 20px;
  }
}

.forward-link {
  text-decoration: none;
  color: var(--c-text);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border-bottom: 1px solid transparent;
  &:hover {
    color: var(--c-text-dark);
    border-bottom-color: var(--c-text-dark);
  }

  &:before {
    @include neo-icon();
    content: "\f12f";
    padding-right: 5px;
  }
}

.btns-wrapper {
  display: flex;

  &.btns-wrapper--end {
    justify-content: end;
  }

  .btn {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
