.carousel {
  .item {
    display: flex;
    justify-content: center;
    position: relative;
    .sticker {
      left: 15px;
      top: 15px;
    }
    img {
      width: auto;
    }
  }
  &__main-image {
    margin-bottom: 15px;
    .slick-track {
      display: flex;
      align-items: center;
    }
    .item {
      display: flex !important;
      justify-content: center;
      cursor: pointer;
    }
  }
  &__thumbnails {
    padding: 0;
    .item {
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 10px;
      height: 100%;
      display: flex !important;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: var(--c-content);
      &:hover {
        border: 1px solid var(--c-input-border);
      }
    }
    .slick-slide {
      margin: 0 7.5px;
    }
    .slick-list {
      margin: 0 -7.5px;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    .slick-current {
      .item {
        border: 1px solid var(--c-primary);
      }
    }

    &--quickview {
      .slick-slide {
        height: 108px !important;
        @include media-breakpoint-only(md) {
          height: 102px !important;
        }
        @include media-breakpoint-only(sm) {
          height: 120px !important;
        }
      }
    }
  }
}

.slick-track {
  @include media-breakpoint-up(sm) {
    display: flex !important;
  }
}

.slick-slide {
  margin: 0 10px;

  @include media-breakpoint-up(sm) {
    height: inherit !important;
  }
  > div {
    height: 100%;
  }
}

.slick-list {
  margin: 0 -10px;
}

.slick-custom-arrow {
  position: absolute;
  bottom: -8px;
  color: var(--c-primary);
  z-index: 9;
  cursor: pointer;
  &:hover {
    color: var(--c-primary-dark);
  }

  &.slick-disabled{
    opacity: 0;
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }

  i {
    font-size: 30px;
  }
}

ul.slick-dots {
  bottom: -35px;
  width: 100%;
  position: static;
  margin-top: 5px;
  li {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    &:hover,
    &.slick-active {
      transform: scale(1) !important;
      button {
        background-color: var(--c-primary);
      }
    }

    button {
      border-radius: 100%;
      width: 15px;
      height: 15px;
      background-color: var(--c-carousel-dots);
      &:before {
        display: none;
      }
    }
  }
}

.slick-dots-container-wrap {
  //position: absolute;
  width: 100%;
  bottom: -35px;
  margin-top: 15px;
}

.slick-dots-container {
  width: 180px;
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0 auto;
  bottom: -35px;

  > ul {
    padding: 0;
    display: flex;
    transition: all 0.25s;
    position: relative;
    margin: 0 auto;
    list-style: none;
    transform: translateX(0);
    align-items: center;
    bottom: unset;
    height: 100%;

    li {
      &.p-small-1,
      &.n-small-1 {
        transform: scale(0.65);
      }
    }
  }
}
