.carousel {
  .item {
    display: flex;
    justify-content: center;
    position: relative;
    .sticker {
      left: 15px;
      top: 15px;
    }
    img {
      width: auto;
    }
  }
  &__main-image {
    margin-bottom: 15px;
  }

  &__thumbnails {
    padding: 0 20px;
    .item {
      img {
        border: 1px solid #e2e2e2;
        width: 120px;
        height: 120px;
        object-fit: contain;
        @include media-breakpoint-down(lg) {
          width: 90px;
          height: 90px;
        }
      }
    }

    .owl-item {
      &.current {
        .item {
          img {
            border: 1px solid #999999;
          }
        }
      }
    }

    .owl-nav {
      .owl-prev,
      .owl-next {
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        z-index: 5;
        display: flex;
        align-items: center;

        &:hover {
          background-color: var(--c-wrapper-border);
        }

        i {
          font-size: 30px;
          padding: 15px 2px;
          position: relative;
          left: -2px;
        }
      }

      .owl-prev {
        left: -15px;
      }

      .owl-next {
        right: -15px;
      }
    }
  }
}

.owl-carousel {
  .owl-nav {
    .disabled {
      opacity: 0;
    }
  }

  .owl-dots {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .owl-dot {
      border-radius: 100%;
      width: 15px;
      height: 15px;
      margin: 0 5px;
      background-color: var(--c-content-dark);

      &:hover,
      &.active {
        background-color: var(--c-primary);
      }
    }
  }
}
