.featured-categories {
  margin-top: 15px;
  margin-bottom: 30px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
  }

  .slick-slide {
    margin: 0 5px;
  }
  .slick-list {
    margin: 0 -5px;
  }

  // images type
  &--images {

    .item {
      background-color: var(--c-content);
      text-align: center;
      border-radius: 5px;
      overflow: hidden;
      border: 1px solid var(--c-wrapper-border);
      //padding: 15px 10px;
      //margin: 5px 0;
      //height: calc(100% - 10px);
      &:hover {
        @include box-shadow--card;
      }
      @include media-breakpoint-down(sm) {
        margin: 0;
        height: 100%;
      }

      &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        padding: 15px 10px;
        &:hover {
          .item__title {
            color: var(--c-primary);
            text-decoration: underline;
          }
        }
      }

      &__image {
        @include media-breakpoint-down(sm) {
          max-width: 230px;
        }
      }

      &__title {
        display: block;
        margin-top: 15px;
        color: var(--c-text);
        text-transform: uppercase;
      }
    }
  }

  // icons type
  &--icons {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;

    .item {
      background-color: var(--c-content);
      border-radius: 5px;
      overflow: hidden;
      border: 1px solid var(--c-wrapper-border);
      margin: 5px;
      width: calc(20% - 10px);
      &:hover {
        @include box-shadow--card;
      }
      @include media-breakpoint-down(xxl) {
        width: calc(25% - 10px);
        .main-content--category--with-sidebar & {
          width: calc(50% - 10px);
        }
      }
      @include media-breakpoint-down(lg) {
        width: calc(33.3333% - 10px);
      }
      @include media-breakpoint-down(md) {
        width: calc(50% - 10px);
      }
      @include media-breakpoint-down(sm) {
        margin: 0 0 7px;
        width: 100%;
        height: 100%;
        .main-content--category--with-sidebar & {
          width: 100%;
        }
      }

      &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        padding: 15px 10px;
        height: 100%;
        @include media-breakpoint-down(sm) {
          padding: 8px 5px;
        }
        &:hover {
          .item__title {
            color: var(--c-primary);
            text-decoration: underline;
          }
        }
      }

      &__image-wrapper {
        width: 70px;
        min-width: 70px;
        margin-right: 5px;
        text-align: center;
        @include media-breakpoint-down(sm) {
          width: 60px;
          min-width: 60px;
          img {
            max-height: 35px;
          }
        }
      }

      &__image {

      }

      &__title {
        font-size: 16px;
        display: block;
        color: var(--c-text);
        text-transform: uppercase;
      }
    }

    &--4-items {
      .item {
        @include media-breakpoint-only(xxl) {
          width: calc(25% - 10px);
        }
      }
    }
  }
}
