.main-menu-wrapper {
  background-color: var(--c-navigation);
  box-shadow: 0px 15px 30px -20px rgba(0, 0, 0, .2);
  position: relative;
  z-index: 8;
  @include media-breakpoint-down(md) {
    display: none;
  }

  &__container {
    @include media-breakpoint-down(lg) {
      max-width: none;
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.main-menu {
  font-size: 14px;
  position: relative;

  &__list {
    //display: flex;
    //align-items: center;
    position: relative;
    > li {
      display: inline-block;
      text-transform: uppercase;
      color: var(--c-text);
      border-right: 1px solid var(--c-menu-border);

      &:not(:last-child) {
        //border-right: 1px solid var(--c-menu-border);
      }

      &.active,
      &:hover {
        > a {
          color: var(--c-primary);
          box-shadow: 0 0 25px -15px rgba(0, 0, 0, .25);
        }
      }

      &.all-categories {
        &:hover {
          .all-categories-menu {
            display: inline-block;
          }
        }
        > a {
          background-color: var(--c-categories-btn);
          color: #ffffff;
          padding-left: 65px;
          @include media-breakpoint-down(lg) {
            padding-left: 40px;
          }
          &:before {
            @include neo-icon;
            content: "\f11e";
            font-size: 27px;
            position: absolute;
            left:25px;
            margin-top: -5px;
            @include media-breakpoint-down(lg) {
              left: 10px;
              margin-top: -2px;
              font-size: 20px;
            }
          }
          &:hover {
            background-color: var(--c-categories-btn-hover);
            color: #ffffff;
          }
        }
      }

      &.has-submenu {
        > a {
          padding-right: 45px;
          @include media-breakpoint-down(lg) {
            padding-right: 35px;
          }
          &:after {
            @include neo-icon;
            content: "\f103";
            font-size: 25px;
            position: absolute;
            right: 15px;
            margin-top: -5px;
            transition: transform .3s;
            @include media-breakpoint-down(lg) {
              right: 5px;
            }
          }
        }
        &:hover {
          > a {
            &:after {
              transform: rotate(180deg);
            }
          }
          .submenu {
            display: block;
          }
        }
      }

      a {
        position: relative;
        color: var(--c-text);
        text-decoration: none;
        display: block;
        padding: 20px 25px;
        @include media-breakpoint-down(lg) {
          padding: 20px 15px;
        }
      }
    }

    .submenu {
      display: none;
      position: absolute;
      z-index: 10;
      background-color: var(--c-navigation);
      text-transform: initial;
      box-shadow: 0 0 25px -15px rgba(0, 0, 0, .25);
      min-width: 200px;

      > li {
        padding: 0 15px;
        &:not(:last-child) {
          a {
            border-bottom: 1px solid var(--c-menu-border);
          }
        }
        &.active,
        &:hover {
          > a {
            color: var(--c-primary);
          }
        }
        a {
          padding: 20px 10px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .has-submenu--wide-menu {
    &:hover {
      .wide-menu {
        display: flex;
      }
    }
  }

  .wide-menu {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    background-color: var(--c-navigation);
    width: 100%;
    padding: 5px;
    flex-wrap: wrap;
    align-content: start;

    &__item {
      width: calc(25% - 20px);
      display: flex;
      padding: 15px 10px;
      margin: 10px;
      text-transform: initial;
      &:hover {
        @include box-shadow--card;
      }
      a {
        padding: 0;
      }

      &__img {
        max-width: 140px;
        margin-right: 20px;
        @include media-breakpoint-down(lg) {
          margin-right: 10px;
        }
      }

      &__text {
        > a {
          color: var(--c-primary);
          display: block;
          font-weight: $fw-medium;
          font-size: 16px;
          @include media-breakpoint-down(lg) {
            font-size: 15px;
          }
          &:hover {
            text-decoration: underline;
          }
        }

        .text {
          font-size: 14px;
          @include media-breakpoint-down(lg) {
            font-size: 13px;
          }
          a {
            display: inline;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &__next {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;

    &:hover {
      #mainMenuNextOpen {
        color: var(--c-primary);
        box-shadow: 0 0 25px -15px rgba(0, 0, 0, .25);
      }
    }

    &.active {
      display: block;
    }

    > a {
      color: inherit;
      padding: 14px;
      display: block;
    }

    i {
      font-size: 30px;
    }

    &__nav {
      display: none;
      position: absolute;
      right: 0;
      min-width: 220px;
      box-shadow: 0 0 25px -15px rgba(0, 0, 0, .25);
      z-index: 10;
      background-color: var(--c-navigation);

      .main-menu__next.active:hover & {
        display: block;
      }

      li {
        padding: 0 15px;

        &:not(:last-child) a {
          border-bottom: 1px solid var(--c-menu-border);
        }

        &.active {
          > a {
            color: var(--c-primary);
          }
        }

        a {
          padding: 20px 10px;
          position: relative;
          color: var(--c-text);
          text-decoration: none;
          display: block;
          &:hover {
            color: var(--c-primary);
            text-decoration: underline;
          }
        }

        .submenu {
          display: none;
        }
      }
    }
  }
}

.all-categories-menu {
  //display: inline-block;
  display: none;
  background-color: var(--c-categories-bg);
  position: absolute;
  z-index: 10;

  > li {
    font-size: 16px;
    @include media-breakpoint-down(xl) {
      font-size: 14px;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid var(--c-menu-border);
    }

    > a {
      text-transform: initial;
      padding: 8px 45px 8px 15px;
      display: flex;
      align-items: center;
      @include media-breakpoint-down(xl) {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      &:after {
        @include neo-icon;
        content: "\f100";
        font-size: 25px;
        position: absolute;
        right: 10px;
        margin-top: -2px;
        color: #adadad;
      }
    }

    &.active,
    &:hover {
      > a {
        background-color: var(--c-content);
        &:after {
          color: var(--c-primary);
        }
      }
    }

    &:hover {
      > .wide-menu {
        display: flex;
      }
    }

    &.active {
      > a {
        border-bottom: 1px solid var(--c-primary);
      }
    }

    .wide-menu {
      //display: flex;
      top: 0;
      width: auto;
      min-height: 100%;
      @include box-shadow;

      &__item {
        width: calc(33.3333% - 20px);
        @include media-breakpoint-down(xl) {
          width: calc(50% - 20px);
        }
      }
    }

  }

  &__icon {
    width: 40px;
    display: block;
    @include media-breakpoint-down(xl) {
      width: 30px;
      padding-right: 8px;
    }
  }

}

.menu-fade-bg {
  display: none;
  position: fixed;
  z-index: 5;
  background-color: var(--c-fade-bg);
  left: 0;
  width: 100%;
  height: 100%;
}
