.modal {
  background-color: var(--c-content);
  max-width: 100%;
  width: 780px;
  margin: 5px auto;
  position: relative;
  @include media-breakpoint-down(sm) {
    padding-top: 25px;
  }

  &--rounded {
    border-radius: 5px;
  }

  &--wider {
    width: 1000px;
  }

  &--two-div {
    display: flex;
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  &__half-div {
    padding: 25px 30px 15px;
    @include media-breakpoint-down(md) {
      padding: 20px 20px 15px;
    }
    @include media-breakpoint-down(sm) {
      padding-bottom: 0;
    }
  }

  &__heading {
    @include fluid-type(20px, 28px);
    font-weight: $fw-medium;
    text-transform: uppercase;
  }

  &__inputs {
    //display: flex;
    //flex-direction: column;
    .form-control--submit {
      @include media-breakpoint-up(sm) {
        float: right;
      }
    }
  }

  .modal-bg-gray {
    background-color: var(--c-mobile-menu-bg);
    margin: 0 -20px;
    padding: 20px 20px;
    border-radius: 0 0 5px 5px;
    @include media-breakpoint-down(md) {
      padding-right: 10px;
      padding-left: 10px;
      margin: 0 -10px;
    }
    .title {
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }


  // LOGIN MODAL, REGISTRATION MODAL

  &--login,
  &--registration {
    .modal {
      &__heading {
        margin-bottom: 20px;
        @include media-breakpoint-down(sm) {
          margin-bottom: 10px;
        }
      }
      &__half-div {
        p {
          margin-top: 0;
        }
        &--left {
          @include media-breakpoint-up(sm) {
            width: 60%;
          }
        }
        &--right {
          background-color: var(--c-modal-half-bg);
          color: var(--c-header-text);
          padding: 85px 40px 30px;
          @include media-breakpoint-up(sm) {
            width: 40%;
          }
          @include media-breakpoint-down(md) {
            padding: 70px 20px 20px;
          }
          @include media-breakpoint-down(sm) {
            padding: 20px;
          }
          a {
            color: var(--c-header-text);
          }
        }
      }
    }

    .mfp-close {
      @include media-breakpoint-up(sm) {
        color: var(--c-header-text);
      }
    }
  }

  &--login {
    .div-separator {
      display: block;
      height: 70px;
      width: 100%;
      @include media-breakpoint-down(sm) {
        height: 20px;
      }
    }
  }

  &--registration {
    .div-separator {
      display: block;
      height: 200px;
      width: 100%;
      @include media-breakpoint-down(sm) {
        height: 20px;
      }
    }
  }

  // QUICKVIEW MODAL

  &--quickview {
    width: 970px;
    @include media-breakpoint-only(md) {
      width: 750px;
    }
    @include media-breakpoint-down(md) {
      display: block;
      padding-top: 20px;
    }

    .modal {
      &__heading {
        font-size: 25px;
        font-weight: $fw-regular;
        margin-bottom: 20px;
        @include media-breakpoint-down(lg) {
          font-size: 20px;
        }
        @include media-breakpoint-down(sm) {
          margin-bottom: 10px;
        }
      }

      &__image {
        text-align: center;
      }

      &__half-div {
        width: 50%;
        @include media-breakpoint-down(lg) {
          padding: 15px 20px;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
        }
        p {
          margin-top: 0;
        }
        &--left {
          @include media-breakpoint-up(lg) {
            width: 55%;
          }
        }
        &--right {
          background-color: #f8f8f8;
          @include media-breakpoint-up(lg) {
            width: 45%;
          }
          @include media-breakpoint-down(sm) {
            padding: 20px;
          }
        }
      }
    }

    .carousel__main-image .item img {
      max-height: 400px;
      @include media-breakpoint-down(sm) {
        max-height: 300px;
      }
    }

    .tags {
      margin-bottom: 10px;
      @include media-breakpoint-up(md) {
        padding-right: 20px;
      }
    }

    .description {
      font-weight: $fw-light;
      @include media-breakpoint-up(md) {
        padding-right: 20px;
      }
    }

    .store {
      font-size: 20px;
      font-weight: $fw-medium;
      margin-bottom: 10px;

      &--yes {
        color: var(--c-in-stock);
      }
    }

    .select-wrap {
      @include media-breakpoint-up(lg) {
        max-width: 230px;
      }
    }

    .price-and-button {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .price__above {
      font-size: 14px;
      margin-bottom: 4px;
      &__value {
        font-weight: $fw-medium;
        text-decoration: line-through;
      }
    }

    .price__current {
      font-size: 28px;
      font-weight: $fw-medium;
      margin-bottom: 1px;
      @include media-breakpoint-down(sm) {
        font-size: 24px;
      }
    }

    .price__bottom {
      @include media-breakpoint-down(sm) {
        font-size: 14px;
      }
      .small-notice {
        font-size: 12px;
      }
    }

    .delivery {
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      i {
        font-size: 50px;
        margin-right: 20px;
      }
    }

    .detail-link {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
    }
  }

  &__full-width {
    padding: 20px;
    @include media-breakpoint-down(sm) {
      padding: 10px;
    }
  }

  // ADD TO CART MODAL

  &--add-to-cart {
    .modal__full-width {
      padding-bottom: 0;
    }

    .buttons-row {
      display: flex;
      justify-content: space-between;
      margin: 25px 0 15px;
    }

    .product-accessories {
      &__item {
        width: 50%;
        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }
    }

    .added-product {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;

      &__left {
        display: flex;
      }

      &__right {
        display: flex;
      }

      &__img {
        width: 80px;
        min-width: 80px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        @include media-breakpoint-down(sm) {
          width: 55px;
          min-width: 55px;
          margin-right: 10px;
        }

        img {
          max-height: 40px;
        }
      }

      &__content {
        margin-right: 20px;
        @include media-breakpoint-down(sm) {
          display: flex;
          flex-direction: column;
          margin-right: 15px;
        }
        .name {
          font-size: 16px;
          font-weight: $fw-medium;
          margin-bottom: 2px;
          @include media-breakpoint-down(sm) {
            font-size: 15px;
          }
        }
        .desc {
          font-size: 14px;
          color: var(--c-gray);
          @include media-breakpoint-down(sm) {
            font-size: 13px;
          }
        }
      }

      &__quantity {
        display: flex;
        align-items: center;
        margin-right: 20px;
        @include media-breakpoint-down(sm) {
          display: none;
        }

        .count {
          padding: 10px;
          border: 1px solid var(--c-quantity-border);
          background-color: var(--c-disabled);
          border-radius: 5px;
          width: 50px;
          min-width: 50px;
          display: flex;
          justify-content: end;
          align-items: center;
          margin-right: 7px;
        }
      }

      &__price-per-item {
        color: var(--c-gray);
        white-space: nowrap;
        margin-right: 30px;
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }

      &__price{
        font-weight: $fw-medium;
        white-space: nowrap;
      }
    }
  }
}
