.modal {
  background-color: var(--c-content);
  max-width: 100%;
  width: 780px;
  margin: 0 auto;
  position: relative;
  @include media-breakpoint-down(sm) {
    padding-top: 20px;
  }

  &--two-div {
    display: flex;
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  &__half-div {
    padding: 25px 30px 15px;
    @include media-breakpoint-down(md) {
      padding: 20px 20px 15px;
    }
    @include media-breakpoint-down(sm) {
      padding-bottom: 0;
    }
  }

  &__heading {
    @include fluid-type(20px, 28px);
    font-weight: $fw-medium;
    text-transform: uppercase;
  }

  &__inputs {
    //display: flex;
    //flex-direction: column;
    .form-control--submit {
      @include media-breakpoint-up(sm) {
        float: right;
      }
    }
  }


  // LOGIN MODAL, REGISTRATION MODAL

  &--login,
  &--registration {
    .modal {
      &__heading {
        margin-bottom: 20px;
        @include media-breakpoint-down(sm) {
          margin-bottom: 10px;
        }
      }
      &__half-div {
        p {
          margin-top: 0;
        }
        &--left {
          @include media-breakpoint-up(sm) {
            width: 60%;
          }
        }
        &--right {
          background-color: var(--c-modal-half-bg);
          color: var(--c-header-text);
          padding: 85px 40px 30px;
          @include media-breakpoint-up(sm) {
            width: 40%;
          }
          @include media-breakpoint-down(md) {
            padding: 70px 20px 20px;
          }
          @include media-breakpoint-down(sm) {
            padding: 20px;
          }
          a {
            color: var(--c-header-text);
          }
        }
      }
    }

    .mfp-close {
      @include media-breakpoint-up(sm) {
        color: var(--c-header-text);
      }
    }
  }

  &--login {
    .div-separator {
      display: block;
      height: 70px;
      width: 100%;
      @include media-breakpoint-down(sm) {
        height: 20px;
      }
    }
  }

  &--registration {
    .div-separator {
      display: block;
      height: 200px;
      width: 100%;
      @include media-breakpoint-down(sm) {
        height: 20px;
      }
    }
  }

  // QUICKVIEW MODAL

  &--quickview {
    width: 970px;
    @include media-breakpoint-only(md) {
      width: 750px;
    }
    @include media-breakpoint-down(md) {
      display: block;
      padding-top: 20px;
    }

    .modal {
      &__heading {
        font-size: 25px;
        font-weight: $fw-regular;
        margin-bottom: 20px;
        @include media-breakpoint-down(lg) {
          font-size: 20px;
        }
        @include media-breakpoint-down(sm) {
          margin-bottom: 10px;
        }
      }

      &__image {
        text-align: center;
      }

      &__half-div {
        width: 50%;
        @include media-breakpoint-down(lg) {
          padding: 15px 20px;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
        }
        p {
          margin-top: 0;
        }
        &--left {
          @include media-breakpoint-up(lg) {
            width: 55%;
          }
        }
        &--right {
          background-color: #f8f8f8;
          @include media-breakpoint-up(lg) {
            width: 45%;
          }
          @include media-breakpoint-down(sm) {
            padding: 20px;
          }
        }
      }
    }

    .carousel__main-image .item img {
      max-height: 400px;
      @include media-breakpoint-down(sm) {
        max-height: 300px;
      }
    }

    .tags {
      margin-bottom: 10px;
      @include media-breakpoint-up(md) {
        padding-right: 20px;
      }
    }

    .description {
      font-weight: $fw-light;
      @include media-breakpoint-up(md) {
        padding-right: 20px;
      }
    }

    .store {
      font-size: 20px;
      font-weight: $fw-medium;
      margin-bottom: 10px;

      &--yes {
        color: var(--c-in-stock);
      }
    }

    .select-wrap {
      @include media-breakpoint-up(lg) {
        max-width: 230px;
      }
    }

    .price-and-button {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .price__above {
      font-size: 14px;
      margin-bottom: 4px;
      &__value {
        font-weight: $fw-medium;
        text-decoration: line-through;
      }
    }

    .price__current {
      font-size: 28px;
      font-weight: $fw-medium;
      margin-bottom: 1px;
      @include media-breakpoint-down(sm) {
        font-size: 24px;
      }
    }

    .price__bottom {
      @include media-breakpoint-down(sm) {
        font-size: 14px;
      }
      .small-notice {
        font-size: 12px;
      }
    }

    .delivery {
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      i {
        font-size: 50px;
        margin-right: 20px;
      }
    }

    .detail-link {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
    }
  }

}
