progress {
  border-radius: 0;
  border: 1px solid #e3e3e3;
  height: 8px;
  display: block;
  width: 100%;
}

progress::-webkit-progress-bar {
  background-color: var(--c-content);
}
progress::-webkit-progress-value {
  background-color: var(--c-primary);
}
progress::-moz-progress-bar {
  /* style rules */
}
