.property {
  margin-bottom: 10px;

  * {
    transition: .2s;
  }

  .subheading {
    font-weight: 500;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  // Color properties
  &__color {
    &__item {
      display: inline-block;

      input {
        display: none;

        &:checked {
          + label {
            //box-shadow: 0 0 5px rgba(0,0,0,.3);
            //transform: scale(1.1);
            &:before {
              @include neo-icon();
              content: "\f110";
              color: #ffffff;
              //text-shadow: 0px 0px 1px #000000;
              font-size: 25px;
            }
          }
        }
      }

      label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        //border: 1px solid #bbbbbb;
        border-radius: 2px;
        margin-right: 7px;
        margin-bottom: 7px;
        position: relative;
        cursor: pointer;

        &:hover,
        &:focus {
          box-shadow: 0 0 5px rgba(0,0,0,.3);
        }
      }
      .label--white {
        border: 1px solid var(--c-placeholder);
        &:before {
          color: var(--c-gray) !important;
        }
      }
    }
  }

  // Size properties
  &__size {
    &__item {
      display: inline-block;

      input {
        display: none;

        &:checked {
          + label {
            //box-shadow: 0 0 5px rgba(0,0,0,.3);
            //transform: scale(1.1);
            background-color: var(--c-text);
            color: #ffffff;
          }
        }
        &:disabled {
          + label {
            color: var(--c-quantity-border);
            cursor: default;
            border-color: var(--c-quantity-border);
          }
        }
      }

      label {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--c-quantity-border);
        background-color: #ffffff;
        border-radius: 2px;
        margin-right: 8px;
        margin-bottom: 5px;
        position: relative;
        cursor: pointer;
        padding: 8px 15px;
        min-width: 50px;

        &:hover,
        &:focus {
          box-shadow: 0 0 5px rgba(0,0,0,.3);
        }
      }
    }
  }

  .select-wrap {
    max-width: 200px;
  }
}
