.quantity-input {
  position: relative;
  &__btn {
    border: 1px solid var(--c-quantity-border);
    border-radius: 5px;
    background-color: var(--c-quantity-bg);
    height: 30px;
    width: 30px;
    font-size: 20px;
    cursor: pointer;
    &:hover {
      background-color: var(--c-quantity-border);
    }
  }

  &__number {
    border: 1px solid var(--c-quantity-border);
    border-radius: 5px;
    background-color: var(--c-quantity-number-bg);
    height: 50px;
    width: 60px;
    text-align: center;
    @include media-breakpoint-down(xxl) {
      height: 40px;
      width: 50px;
    }
    @include media-breakpoint-down(lg) {
      height: 30px;
    }
  }

  &--disabled {
    .quantity-input__btn {
      display: none;
    }
    .quantity-input__number,
    input:disabled {
      background-color: var(--c-disabled);
      color: var(--c-text);
    }
  }

  &--inside {
    width: 60px;
    margin-right: 15px;

    .quantity-input__btn {
      position: absolute;
      right: -15px;
      &--plus {
        top: 0;
        border-radius: 0 5px 0 0;
      }
      &--minus {
        bottom: 0;
        border-radius: 0 0 5px 0;
      }
    }
    .quantity-input__number {
      height: 60px;
      padding-right: 15px;
    }
  }
}
