<ul class="wide-menu">
    <li class="wide-menu__item">
        <a href="#" class="wide-menu__item__img"><img class="lazy owl-lazy" data-src="assets/images/samples/wide-menu-bike.png" alt=""></a>
        <div class="wide-menu__item__text">
            <a href="#" class="title">Skládací kola</a>
            <div class="text"><a href="">Dámská</a>, <a href="">dětská</a>, <a href="">pánská</a></div>
        </div>
    </li>
    <li class="wide-menu__item">
        <a href="#" class="wide-menu__item__img"><img class="lazy owl-lazy" data-src="assets/images/samples/wide-menu-bike.png" alt=""></a>
        <div class="wide-menu__item__text">
            <a href="#" class="title">Skládací kola</a>
            <div class="text"><a href="">Dámská</a>, <a href="">dětská</a>, <a href="">pánská</a></div>
        </div>
    </li>
    <li class="wide-menu__item">
        <a href="#" class="wide-menu__item__img"><img class="lazy owl-lazy" data-src="assets/images/samples/wide-menu-bike.png" alt=""></a>
        <div class="wide-menu__item__text">
            <a href="#" class="title">Skládací kola</a>
            <div class="text"><a href="">Dámská</a>, <a href="">dětská</a>, <a href="">pánská</a></div>
        </div>
    </li>
    <li class="wide-menu__item">
        <a href="#" class="wide-menu__item__img"><img class="lazy owl-lazy" data-src="assets/images/samples/wide-menu-bike.png" alt=""></a>
        <div class="wide-menu__item__text">
            <a href="#" class="title">Skládací kola</a>
            <div class="text"><a href="">Dámská</a>, <a href="">dětská</a>, <a href="">pánská</a></div>
        </div>
    </li>
    <li class="wide-menu__item">
        <a href="#" class="wide-menu__item__img"><img class="lazy owl-lazy" data-src="assets/images/samples/wide-menu-bike.png" alt=""></a>
        <div class="wide-menu__item__text">
            <a href="#" class="title">Skládací kola</a>
            <div class="text"><a href="">Dámská</a>, <a href="">dětská</a>, <a href="">pánská</a></div>
        </div>
    </li>
</ul>
