<ul class="all-categories-menu">
    <li><a href="#"><span class="all-categories-menu__icon"><img class="lazy" data-src="assets/images/samples/icon-menu-category.png" alt=""></span>Akce a slevy</a>
        {{> menu__wide-menu}}
    </li>
    <li><a href="#"><span class="all-categories-menu__icon"><img class="lazy" data-src="assets/images/samples/icon-menu-category.png" alt=""></span>Turistické batohy a tašky</a>
        {{> menu__wide-menu2}}
    </li>
    <li class="active"><a href="#"><span class="all-categories-menu__icon"><img class="lazy" data-src="assets/images/samples/icon-menu-category.png" alt=""></span>Cyklistika</a>
        {{> menu__wide-menu}}
    </li>
    <li><a href="#"><span class="all-categories-menu__icon"><img class="lazy" data-src="assets/images/samples/icon-menu-category.png" alt=""></span>Koloběžky</a>
        {{> menu__wide-menu2}}
    </li>
    <li><a href="#"><span class="all-categories-menu__icon"><img class="lazy" data-src="assets/images/samples/icon-menu-category.png" alt=""></span>Lyžařské helmy</a>
        {{> menu__wide-menu}}
    </li>
    <li><a href="#"><span class="all-categories-menu__icon"><img class="lazy" data-src="assets/images/samples/icon-menu-category.png" alt=""></span>Lyžařské boty</a>
        {{> menu__wide-menu2}}</li>
    <li><a href="#"><span class="all-categories-menu__icon"><img class="lazy" data-src="assets/images/samples/icon-menu-category.png" alt=""></span>Sportovní oblečení</a>
        {{> menu__wide-menu2}}</li>
    <li><a href="#"><span class="all-categories-menu__icon"><img class="lazy" data-src="assets/images/samples/icon-menu-category.png" alt=""></span>Tenisové rakety</a></li>
    <li><a href="#"><span class="all-categories-menu__icon"><img class="lazy" data-src="assets/images/samples/icon-menu-category.png" alt=""></span>Fitness</a></li>
    <li><a href="#"><span class="all-categories-menu__icon"><img class="lazy" data-src="assets/images/samples/icon-menu-category.png" alt=""></span>Turistika</a></li>
    <li><a href="#"><span class="all-categories-menu__icon"></span>Výprodej</a></li>
</ul>
