<ul class="wide-menu">
    <li class="wide-menu__item">
        <a href="#" class="wide-menu__item__img"><img class="lazy owl-lazy" data-src="assets/images/samples/wide-menu-bike.png" alt=""></a>
        <div class="wide-menu__item__text">
            <a href="#" class="title">Horská kola</a>
            <span class="text">Dámská, dětská, pánská</span>
        </div>
    </li>
    <li class="wide-menu__item">
        <a href="#" class="wide-menu__item__img"><img class="lazy owl-lazy" data-src="assets/images/samples/wide-menu-bike.png" alt=""></a>
        <div class="wide-menu__item__text">
            <a href="#" class="title">Horská kola</a>
            <span class="text">Dámská, dětská, pánská</span>
        </div>
    </li>
    <li class="wide-menu__item">
        <a href="#" class="wide-menu__item__img"><img class="lazy owl-lazy" data-src="assets/images/samples/wide-menu-bike.png" alt=""></a>
        <div class="wide-menu__item__text">
            <a href="#" class="title">Horská kola</a>
            <span class="text">bla bla bla</span>
        </div>
    </li>
    <li class="wide-menu__item">
        <a href="#" class="wide-menu__item__img"><img class="lazy owl-lazy" data-src="assets/images/samples/wide-menu-bike.png" alt=""></a>
        <div class="wide-menu__item__text">
            <a href="#" class="title">Skládací kola</a>
            <span class="text">Dámská, dětská, pánská</span>
        </div>
    </li>
    <li class="wide-menu__item">
        <a href="#" class="wide-menu__item__img"><img class="lazy owl-lazy" data-src="assets/images/samples/wide-menu-bike.png" alt=""></a>
        <div class="wide-menu__item__text">
            <a href="#" class="title">Skládací kola</a>
            <span class="text">Dámská, dětská, pánská</span>
        </div>
    </li>
    <li class="wide-menu__item">
        <a href="#" class="wide-menu__item__img"><img class="lazy owl-lazy" data-src="assets/images/samples/wide-menu-bike.png" alt=""></a>
        <div class="wide-menu__item__text">
            <a href="#" class="title">Horská kola</a>
            <span class="text">bla bla bla</span>
        </div>
    </li>
    <li class="wide-menu__item">
        <a href="#" class="wide-menu__item__img"><img class="lazy owl-lazy" data-src="assets/images/samples/wide-menu-bike.png" alt=""></a>
        <div class="wide-menu__item__text">
            <a href="#" class="title">Horská kola</a>
            <span class="text">bla bla bla</span>
        </div>
    </li>
</ul>
