<div class="modal fade modal--bs product-detail-gallery-modal" id="productDetailGalleryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Zavřít galerii <span>✖</span></button>
                <div class="product-detail__gallery--modal">
                    <div class="carousel__main-image--modal-wrapper">
                        <div class="carousel__main-image--modal">
                            <div class="item">
                                <img data-lazy="assets/images/samples/product-detail-photo.png" alt="">
                            </div>
                            <div class="item">
                                <img  data-lazy="assets/images/samples/product-detail-photo-2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img data-lazy="assets/images/samples/product-detail-photo-3.jpg" alt="">
                            </div>
                            <div class="item">
                                <img data-lazy="assets/images/samples/product-detail-photo-4.jpg" alt="">
                            </div>
                            <div class="item">
                                <img data-lazy="assets/images/samples/product-detail-photo-5.jpg" alt="">
                            </div>
                            <div class="item">
                                <img data-lazy="assets/images/samples/product-detail-photo-6.jpg" alt="">
                            </div>
                            <div class="item">
                                <img data-lazy="assets/images/samples/product-detail-photo-7.jpg" alt="">
                            </div>
                        </div>
                        <div class="desc">
                            <div class="title">Under Armour Dámské Červené tričko JZSHOP s krátkým rukávem</div>
                            <div class="slide-number"></div>
                        </div>

                    </div>

                    <div class="carousel__thumbnails--modal">
                        <div class="item">
                            <img data-lazy="assets/images/samples/product-detail-photo.png" alt="">
                        </div>
                        <div class="item">
                            <img data-lazy="assets/images/samples/product-detail-photo-2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img data-lazy="assets/images/samples/product-detail-photo-3.jpg" alt="">
                        </div>
                        <div class="item">
                            <img data-lazy="assets/images/samples/product-detail-photo-4.jpg" alt="">
                        </div>
                        <div class="item">
                            <img data-lazy="assets/images/samples/product-detail-photo-5.jpg" alt="">
                        </div>
                        <div class="item">
                            <img data-lazy="assets/images/samples/product-detail-photo-6.jpg" alt="">
                        </div>
                        <div class="item">
                            <img data-lazy="assets/images/samples/product-detail-photo-7.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
