<div id="modal-registration" class="modal modal--registration modal--two-div mfp-hide">
    <button title="Zavřít (Esc)" type="button" class="mfp-close">×</button>
    <div class="modal__half-div modal__half-div--left">
        <h3 class="modal__heading">Registrace</h3>
        <div class="modal__inputs">
            <form action="">
                <input class="form-control" type="email" placeholder="Váš e-mail">
                <input class="form-control" type="text" placeholder="Heslo">
                <input class="form-control" type="text" placeholder="Ověření hesla">

                <ul class="checkbox-list">
                    <li>
                        <input class="checkbox" id="checkbox-1" type="checkbox" value="value1">
                        <label for="checkbox-1">Chci dostávat novinky a obchodní sdělení</label>
                    </li>
                    <li>
                        <input class="checkbox" id="checkbox-2" type="checkbox" value="value2" checked>
                        <label for="checkbox-2">Souhlasím s <a href="">obchodními podmínkami</a></label>
                    </li>
                    <li>
                        <input class="checkbox" id="checkbox-4" type="checkbox" value="value4">
                        <label for="checkbox-4">Souhlasím se zpracováním osobních údajů</label>
                    </li>
                </ul>

                <button class="btn btn--primary btn--mobile-fullwidth form-control--submit" type="submit">Registrovat</button>
            </form>
        </div>
    </div>
    <div class="modal__half-div modal__half-div--right">
        <div>
            <p>Již máte účet? <br>Můžete se <a href="">přihlásit zde</a>.</p>
            <p>Výhody registrace plněné HTML editorem v administraci.</p>
        </div>
        <div class="div-separator"></div>
        <div>
            <p><small>Přejít do <a href="">kompletního formuláře</a></small></p>
        </div>
    </div>

</div>
