<div id="modal-cookies" class="modal modal--cookies modal--rounded mfp-hide">
    <button title="Zavřít (Esc)" type="button" class="mfp-close">×</button>
    <div class="modal__full-width">
        <h3 class="modal__heading h1">Nastavení cookies</h3>
        <div class="cookies-consent">
            <div class="cookies-consent__inner">
                <div class="cookies-consent__info">
                    <p class="cookies-consent__info__subheading">Co jsou to cookies?</p>
                    <div class="cookies-consent__info__text">
                        <p>Soubory cookies a další technologie nám pomáhají zlepšovat naše služby, pomáhají nám analyzovat výkon webu a umožňují nám pomáhat zákazníkovi ve výběru správného zboží - například tak, abychom vám zobrazovali to, co právě hledáte a zlepšili tak uživatelský komfort při nakupování. Níže si můžete vybrat, která cookies chcete povolit nebo všechny zcela deaktivovat.</p>
                        <p>Přečtěte si naše <a href="#">zásady o zpracování osobních údajů</a>.</p>
                    </div>
                </div>

                <div class="cookies-consent__settings">
                    <h4 class="cookies-consent__settings__heading">Nastavte si, jaké chcete používat cookies</h4>
                    <div class="cookies-settings">
                        <div class="item">
                            <div class="item__inner">
                                <div class="item__inner__text">
                                    <div class="item__heading">Funkční</div>
                                    <div class="item__desc">Nezbytné cookies pro správné fungování našeho webu.</div>
                                </div>
                                <div class="item__inner__toggle">
                                    <label class="toggle-switch" for="consent-functional">
                                        <input class="toggle-switch__input" name="consent-functional" type="checkbox" id="consent-functional">
                                        <div class="toggle-switch__fill"></div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="item__inner">
                                <div class="item__inner__text">
                                    <div class="item__heading">Analytické</div>
                                    <div class="item__desc">Sbírají informace potřebné k měření návštěvnosti našeho webu.</div>
                                </div>
                                <div class="item__inner__toggle">
                                    <label class="toggle-switch" for="consent-analytical">
                                        <input class="toggle-switch__input" name="consent-analytical" type="checkbox" id="consent-analytical" checked>
                                        <div class="toggle-switch__fill"></div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="item__inner">
                                <div class="item__inner__text">
                                    <div class="item__heading">Personalizované</div>
                                    <div class="item__desc">Pomáhají nám ukládat informace o preferencích uživatele a nabídnout tak personalizovaný obsah.</div>
                                </div>
                                <div class="item__inner__toggle">
                                    <label class="toggle-switch" for="consent-personalization">
                                        <input class="toggle-switch__input" name="consent-personalization" type="checkbox" id="consent-personalization">
                                        <div class="toggle-switch__fill"></div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="item__inner">
                                <div class="item__inner__text">
                                    <div class="item__heading">Marketingové</div>
                                    <div class="item__desc">Umožňují zobrazovat cílenou reklamu na ostatních webech. Množství reklam je stále stejné, pouze uvidíte jenom to, co vás opravdu zajímá.</div>
                                </div>
                                <div class="item__inner__toggle">
                                    <label class="toggle-switch" for="consent-marketing">
                                        <input class="toggle-switch__input" name="consent-marketing" type="checkbox" id="consent-marketing">
                                        <div class="toggle-switch__fill"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cookies-consent__action">
                    <a href="#" class="btn btn--no-background btn--bigger">Odmítnout vše</a>
                    <a href="#" class="btn btn--no-background btn--bigger">Uložit preference</a>
                    <a href="#" class="btn btn--primary btn--bigger">Přijmout vše</a>
                </div>
            </div>
        </div>
    </div>
</div>
