<div id="modal-login" class="modal modal--login modal--two-div mfp-hide">
    <button title="Zavřít (Esc)" type="button" class="mfp-close">×</button>
    <div class="modal__half-div modal__half-div--left">
        <h3 class="modal__heading">Přihlášení</h3>
        <div class="modal__inputs">
            <form action=""></form>
                <input class="form-control" type="email" placeholder="Váš e-mail">
                <input class="form-control" type="text" placeholder="Heslo">
                <button class="btn btn--primary btn--mobile-fullwidth form-control--submit" type="submit">Přihlásit</button>
            </form>
        </div>
    </div>
    <div class="modal__half-div modal__half-div--right">
        <div>
            <p>Ještě nemáte účet?<br>
                Neváhejte a <a href="">zaregistrujte se</a>.</p>
        </div>
        <div class="div-separator"></div>
        <div>
            <p>Zapomněli jste Vaše heslo?<br>
                <a href="">Požádejte o jeho zaslání.</a></p>
        </div>
    </div>
</div>
