.widget--articles {
  .article {
    margin-bottom: 10px;

    &__title {
      font-size: 16px;
      font-weight: $fw-medium;
      margin-bottom: 3px;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__text {
      font-size: 14px;

      p {
        margin: 0;
      }
    }
  }
}
