.widget {
  a {
    color: var(--c-text);
  }

  &__heading {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;

    @include media-breakpoint-down(sm) {
      padding-right: 40px;
      &:after {
        transition: transform .3s;
        @include neo-icon;
        font-size: 40px;
        position: absolute;
        top: -10px;
        right: 0;
      }
      &--collapsed {
        &:after {
          content: "\f103";
        }
      }
      &.opened {
        &:after {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__content {
    &--collapsed {
      display: none;
      &.opened {
        display: block;
      }
    }
  }
}


/*** Widgets specific styles ***/

// Footer widgets global specifics

.footer__columns {
  .widget {
    flex: 1;
    //flex-basis: 20%; // max 5 columns in footer (not working properly with flexbox element inside)
    margin-left: 10px;
    margin-right: 10px;
    &__content {
      margin-bottom: 20px;
    }
  }
}

.sidebar,
.main-content {
  .widget {
    @extend %content-wrapper;
    padding: 20px 15px;
    margin-bottom: 20px;
  }
}
