<div class="product-detail__tab product-detail__tab--main-info" id="tab-1">
    <h2 class="tab-title">Základní informace</h2>
    <div class="product-detail__tab__content">
        <div class="row product-detail__tab__row">
            <div class="row__col product-detail__tab__row__col">
                <div class="editor">
                    <h2>Nadpis H2</h2>
                    <p>Legendární ikonické sluneční brýle Ray-Ban RB 3025 112/17. Originální aviatorky navrženy původně pro piloty. Ladné kapkovité křivky a navíc oblíbená zrcadlovka. S ní máte ještě větší vizuální komfort. Odrazí závistivé pohledy a poskytuje vám jedinečný vzhled.</p>
                    <h3>Nadpis H3</h3>
                    <ul>
                        <li>Duis urna magna! Elementum</li>
                        <li>Natoque, sit <a href="">integer!</a></li>
                        <li>arturient mauris pulvinar, odio pid elit porta turpis.
                            <ul>
                                <li>vnořená položka</li>
                            </ul>
                        </li>
                        <li>Duis urna magna! Elementum</li>
                        <li>Natoque, sit integer!</li>
                    </ul>
                    <p>Ochranný filtr: UV400 (100% ochrana proti škodlivým UVA, UVB a UVC paprskům).<br>
                        Kategorie slunečního filtru 3: je to nejvíce používaná čočka pro letní nošení a běžné letní sportovní aktivity. Její výhodou je dostatečné krytí před ostrým slunečním svitem, při stmívání ovšem omezuje vaši viditelnost. Pokud chcete používat pouze jedny brýle, doporučujeme brýle s touto kategorií nebo brýle s výměnnými čočkami, které mají různé kategorie.<br>
                        Originální pevné pouzdro a hadřík je součástí balení.</p>
                </div>
            </div>
            <div class="row__col row__col--2 product-detail__tab__row__col">
                <div class="tab__params">
                    <h2>Parametry</h2>
                    <h3 class="tab__params__subtitle">Skupina parametrů</h3>
                    <ul>
                        <li>Šířka očnice: <span class="fw-medium">58 mm</span></li>
                        <li>Délka nosníku: <span class="fw-medium">14 mm</span></li>
                        <li>Délka stranice: <span class="fw-medium">145 mm</span></li>
                    </ul>
                    <h3 class="tab__params__subtitle">Technické parametry</h3>
                    <ul>
                        <li>Úhlopříčka displeje: <span class="fw-medium">13,3”</span></li>
                        <li>Rozlišení displeje: <span class="fw-medium">2560 x 1600 (WQXGA)</span></li>
                        <li>Typ procesoru: <span class="fw-medium">Apple M1</span></li>
                        <li>Grafická karta: <span class="fw-medium">Apple 7-core</span></li>
                        <li>Velikost operační paměti: <span class="fw-medium">16 GB</span></li>
                        <li>Typ pevného disku: <span class="fw-medium">SSD</span></li>
                        <li>Interní paměť: <span class="fw-medium">256 GB</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
