<div class="product-detail__tab product-detail__tab--accessories" id="tab-3">
    <h2 class="tab-title">Příslušenství</h2>
    <div class="product-detail__tab__content">
        <div class="product-accessories">
            {{> product__accessories__item}}
            {{> product__accessories__item-2}}
            {{> product__accessories__item-3}}
            {{> product__accessories__item}}
            {{> product__accessories__item-2}}
            {{> product__accessories__item-3}}
            {{> product__accessories__item}}
            {{> product__accessories__item-2}}
        </div>
    </div>
</div>
