<div class="product-detail__tab product-detail__tab--ratings" id="tab-4">
    <h2 class="tab-title">Hodnocení <span class="count">(0)</span></h2>
    <div class="product-detail__tab__content">
        <div class="row">
            <div class="row__col">
                <div class="product-ratings">
                    {{> product__ratings__item}}
                    {{> product__ratings__item-2}}
                    {{> product__ratings__item}}
                    {{> product__ratings__item-2}}
                </div>
                <div class="product-ratings__more">
                    <a href="#" class="btn btn--primary">Zobrazit další</a>
                </div>
            </div>

            <div class="row__col row__col--2">
                <div class="product-ratings-summary">
                    <div class="top">
                        <div class="top__left">
                            <div class="top-rating star-rating" title="Hodnocení: 40%">
                                <span class="neo-icon neo-star"></span>
                                <span class="neo-icon neo-star"></span>
                                <span class="neo-icon neo-star-empty"></span>
                                <span class="neo-icon neo-star-empty"></span>
                                <span class="neo-icon neo-star-empty"></span>
                            </div>
                            <span class="users-count">Hodnotilo 5 uživatelů</span>
                        </div>
                        <div class="top__right">
                            <span class="percent-rating">30%</span>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="star-count">
                            <div class="item"><span class="value">5</span> <span class="neo-icon neo-star"></span><progress class="star-rating-progress" value="70" max="100"></progress> <span class="count">11x</span></div>
                            <div class="item"><span class="value">4</span> <span class="neo-icon neo-star"></span><progress class="star-rating-progress" value="70" max="100"></progress> <span class="count">11x</span></div>
                            <div class="item"><span class="value">3</span> <span class="neo-icon neo-star"></span><progress class="star-rating-progress" value="70" max="100"></progress> <span class="count">11x</span></div>
                            <div class="item"><span class="value">2</span> <span class="neo-icon neo-star"></span><progress class="star-rating-progress" value="20" max="100"></progress> <span class="count">1x</span></div>
                            <div class="item"><span class="value">1</span> <span class="neo-icon neo-star"></span><progress class="star-rating-progress" value="0" max="100"></progress> <span class="count">0x</span></div>
                        </div>
                    </div>
                </div>

                <p class="product-ratings-summary-note">Vlastníte tento produkt? Chcete se podělit s ostatními o svých zkušeností? Neváhejte a ohodnoťte produkt.</p>

                <div class="product-ratings-summary-btn">
                    <a class="btn btn--primary" href="#">Napsat recenzi</a>
                </div>

            </div>
        </div>
    </div>
</div>



