.cart {
  margin-top: 20px;
  margin-bottom: 20px;
  &__item {
    border-radius: 5px;
    border: 1px solid var(--c-wrapper-border);
    background-color: var(--c-content);
    padding: 15px;
    margin-bottom: 10px;
    @include media-breakpoint-down(sm) {
      padding-right: 10px;
      padding-left: 10px;
    }
    &:hover {
      @include box-shadow--card;
    }

    &__main {
      display: flex;
      align-items: center;
      width: 100%;
      @include media-breakpoint-down(lg) {
        display: block;
      }

      &__inner {
        display: flex;
        align-items: center;
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
        position: relative;
        @include media-breakpoint-down(lg) {
          padding-left: 15px;
          padding-bottom: 45px;
          min-height: 100px;
          width: auto;
        }
      }
    }

    &__image {
      text-align: center;
      min-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include media-breakpoint-only(xxl) {
        width: 170px;
        min-width: 170px;
      }
      @include media-breakpoint-only(xl) {
        width: 120px;
        min-width: 120px;
      }
      @include media-breakpoint-only(lg) {
        width: 80px;
        min-width: 80px;
        padding-right: 10px;
        padding-left: 5px;
      }
      @include media-breakpoint-down(lg) {
        float: left;
        max-width: 95px;
        width: 95px;
        min-width: 95px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 70px;
        width: 70px;
        min-width: 70px;
      }
    }

    &__desc {
      display: flex;
      flex-direction: column;
      @include media-breakpoint-only(xxl) {
        width: 470px;
        min-width: 470px;
      }
      @include media-breakpoint-only(xl) {
        width: 400px;
        min-width: 400px;
      }
      @include media-breakpoint-only(lg) {
        width: 370px;
        min-width: 370px;
      }

      &__name {
        display: block;
        font-size: 18px;
        margin-bottom: 3px;
        color: var(--c-text);
        font-weight: $fw-medium;
        @include media-breakpoint-down(xl) {
          font-size: 16px;
        }
        @include media-breakpoint-down(lg) {
          padding-right: 20px;
        }

        a {
          color: var(--c-text);
          &:hover {
            color: var(--c-primary);
          }
        }
      }

      &__info {
        display: block;
        font-size: 14px;
        color: var(--c-gray);
        margin-bottom: 3px;
        @include media-breakpoint-down(xl) {
          font-size: 13px;
        }
      }
    }

    &__quantity {
      text-align: center;
      @include media-breakpoint-only(xxl) {
        width: 175px;
        min-width: 175px;
      }
      @include media-breakpoint-down(xxl) {
        width: 160px;
        min-width: 160px;
      }
      @include media-breakpoint-down(lg) {
        position: absolute;
        bottom: 0;
        left: -115px;
      }
      @include media-breakpoint-down(sm) {
        left: -90px;
      }
    }

    &__price {
      text-align: right;
      font-size: 18px;
      color: var(--c-gray);
      @include media-breakpoint-only(xxl) {
        width: 250px;
        min-width: 250px;
      }
      @include media-breakpoint-only(xl) {
        width: 170px;
        min-width: 170px;
      }
      @include media-breakpoint-only(lg) {
        width: 120px;
        min-width: 120px;
        font-size: 16px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 14px;
        position: absolute;
        bottom: 20px;
        right: 0;
      }
    }

    &__price-sum {
      text-align: right;
      font-size: 20px;
      color: var(--c-text);
      font-weight: $fw-medium;
      padding-left: 20px;
      margin-right: 20px;
      @include media-breakpoint-only(xxl) {
        width: 180px;
        min-width: 180px;
      }
      @include media-breakpoint-only(xl) {
        width: 170px;
        min-width: 170px;
      }
      @include media-breakpoint-only(lg) {
        width: 130px;
        min-width: 130px;
        font-size: 16px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 16px;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0;
        margin: 0;
      }
    }

    &__delete {
      position: absolute;
      right: 5px;
      font-size: 25px;
      @include media-breakpoint-down(lg) {
        top: 0;
      }

      a {
        text-decoration: none;
        color: var(--c-text);
        &:hover {
          color: var(--c-red);
        }
      }
    }

    &__bonus {
      margin-top: 13px;
      @include media-breakpoint-only(xxl) {
        padding-right: 50px;
      }
      @include media-breakpoint-only(xl) {
        padding-right: 50px;
      }
      @include media-breakpoint-only(lg) {
        padding-right: 40px;
      }

      &__item {
        border-radius: 5px;
        border: 1px solid var(--c-cart-bonus-border);
        background-color: var(--c-cart-bonus-bg);
        display: flex;
        align-items: center;
        padding: 8px 5px;
        margin-bottom: 5px;
        @include media-breakpoint-only(xxl) {
          margin-left: 175px;
        }
        @include media-breakpoint-only(xl) {
          margin-left: 125px;
        }
        @include media-breakpoint-only(lg) {
          margin-left: 85px;
        }
        @include media-breakpoint-down(lg) {
          justify-content: space-between;
          padding-right: 10px;
          padding-left: 10px;
        }

        &--with-options {
          display: block;

          .cart__bonus__image {
            float: left;
          }
        }
      }
    }

    .store {
      font-size: 12px;
    }

    .unchecked-price {
      display: inline-block;
      color: var(--c-gray);
      margin-left: 10px;
    }

    .gift {
      color: var(--c-red--2);
      font-size: 18px;
      font-weight: $fw-medium;
      text-transform: uppercase;

      i {
        font-size: 22px;
      }
    }

    &--sale {
      @include media-breakpoint-down(lg) {
        .cart__item__main {
          display: flex;
        }
        .cart__item__image {
          float: none;
        }
        .cart__item__main__inner {
          padding-bottom: inherit;
          width: 100%;
          min-height: auto;
        }
      }

    }
  }

  &__bonus {
    &__image {
      text-align: center;
      width: 50px;
      min-width: 50px;
      margin-right: 10px;
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    &__desc {
      display: flex;
      flex-direction: column;
      font-weight: $fw-medium;
      @include media-breakpoint-only(xxl) {
        width: 405px;
      }
      @include media-breakpoint-only(xl) {
        width: 335px;
      }
      @include media-breakpoint-only(lg) {
        width: 305px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 14px;
      }

      &__name {
        margin-bottom: 5px;
      }

      a {
        color: var(--c-text);
      }

      .gift {
        font-size: 12px;
        i {
          font-size: 15px;
        }
      }
    }

    &__quantity {
      text-align: center;
      opacity: 0;
      @include media-breakpoint-only(xxl) {
        width: 175px;
        min-width: 175px;
      }
      @include media-breakpoint-down(xxl) {
        width: 160px;
        min-width: 160px;
      }
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    &__price {
      text-align: right;
      font-size: 16px;
      color: var(--c-gray);
      opacity: 0;
      @include media-breakpoint-only(xxl) {
        width: 250px;
        min-width: 250px;
      }
      @include media-breakpoint-only(xl) {
        width: 170px;
        min-width: 170px;
      }
      @include media-breakpoint-only(lg) {
        width: 120px;
        min-width: 120px;
        font-size: 16px;
      }
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    &__price-sum {
      text-align: right;
      font-size: 16px;
      color: var(--c-text);
      font-weight: $fw-medium;
      padding-left: 20px;
      margin-right: 20px;
      opacity: 0;
      @include media-breakpoint-only(xxl) {
        width: 180px;
        min-width: 180px;
      }
      @include media-breakpoint-only(xl) {
        width: 170px;
        min-width: 170px;
      }
      @include media-breakpoint-only(lg) {
        width: 130px;
        min-width: 130px;
        font-size: 16px;
      }
      @include media-breakpoint-down(lg) {
        margin-right: 0;
        font-size: 14px;
      }
    }

    &__options {
      margin-left: 60px;
      margin-top: 5px;
      @include media-breakpoint-down(lg) {
        margin-left: 0;
        font-size: 14px;
      }
    }

    &__option {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      @include media-breakpoint-down(lg) {
        justify-content: space-between;
      }
    }

    &__checkbox {
      @include media-breakpoint-only(xxl) {
        width: 405px;
        min-width: 405px;
      }
      @include media-breakpoint-only(xl) {
        width: 335px;
        min-width: 335px;
      }
      @include media-breakpoint-only(lg) {
        width: 305px;
        min-width: 305px;
      }

      input:checked + label .unchecked-price {
        opacity: 0;
      }
    }
  }
}

.cart-bottom {
  margin: 0 65px;
  display: flex;
  @include media-breakpoint-down(xxl) {
    margin-right: 20px;
    margin-left: 20px;
  }
  @include media-breakpoint-down(lg) {
    margin: 0;
  }
  @include media-breakpoint-down(md) {
    display: block;
  }

  &__half {

    &--first {
      margin-right: 50px;
      width: 45%;
      @include media-breakpoint-down(xl) {
        margin-right: 20px;
        width: 60%;
      }
      @include media-breakpoint-down(lg) {
        width: 55%;
      }
      @include media-breakpoint-down(md) {
        margin-right: 0;
        width: 100%;
      }
    }

    &--second {
      width: 55%;
      display: flex;
      flex-direction: column;
      @include media-breakpoint-down(xl) {
        width: 40%;
      }
      @include media-breakpoint-down(lg) {
        width: 45%;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }

  &__right {
    width: 55%;
    align-self: end;
    @include media-breakpoint-down(xl) {
      width: 100%;
    }

    &:first-child {
      margin-top: 15px;
    }
  }

  &__code {
    margin-bottom: 25px;

    &__input-wrapper {
      margin-top: 15px;
      position: relative;
      display: none;
    }

    &__input {

    }

    &__input-text {
      position: absolute;
      right: 100%;
      top: 7px;
      margin-right: 20px;
      margin-bottom: 5px;
      white-space: nowrap;
      @include media-breakpoint-down(xl) {
        position: static;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    //align-items: center;
    width: 100%;
    @include media-breakpoint-down(xl) {
      flex-direction: column;
    }
  }

  &__back-btn {
    margin-top: 10px;
    @include media-breakpoint-down(xl) {
      order: 2;
    }
  }

  &__forward-btn {
    order: 1;
  }
}

.cart-progress {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @include media-breakpoint-down(md) {
    padding: 10px;
  }

  &-wrapper {
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }

  &__icon {
    width: 50px;
    min-width: 50px;
    color: var(--c-primary);

    i {
      font-size: 35px;
    }
  }

  &__content {
    width: 100%;
  }

  &__text {
    margin-bottom: 5px;
  }

  &__bar {
    @include media-breakpoint-down(md) {
      progress {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
      }
    }
  }
}

.age-confirm {
  margin: 20px 0;
  .title {
    @include fluid-type(18px, 25px);
    text-transform: uppercase;
    color: var(--c-text);
    margin-bottom: 5px;
  }

  p {
    margin-top: 0;
    @include fluid-type(14px, 18px);
  }
}

.mojeID {
  display: flex;
  align-items: center;
  margin-top: 20px;

  @include media-breakpoint-down(md) {
    display: block;
  }

  &__img {
    margin-right: 20px;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__text {
    padding-right: 20px;
    max-width: 50%;
    @include media-breakpoint-down(md) {
      max-width: initial;
      margin-bottom: 20px;
    }
    .heading {
      @include fluid-type(16px, 20px);
      margin-bottom: 0px;
      color: var(--c-text);
      @include media-breakpoint-down(md) {
        margin-bottom: 5px;
      }
    }
    p {
      margin: 0;
      @include fluid-type(14px, 16px);
    }
  }

  &__sign {
    display: flex;
    a:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}

.your-order {
  .title-wrap {
    display: flex;
    justify-content: space-between;
  }
  .title {
    @include fluid-type(18px, 20px);
  }
}

.order-list {
  @include media-breakpoint-up(xl) {
    max-height: 600px;
    overflow-y: auto;
  }

  .item {
    &:not(:last-of-type) {
      margin-bottom: 15px;
      border-bottom: 1px solid var(--c-wrapper-border);
    }

    &__main,
    &__bonus {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    &__image {
      min-width: 45px;
      width: 45px;
      margin-right: 10px;
      //text-align: center;
    }

    &__desc {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-right: 10px;

      &__name {
        font-size: 14px;
      }

      &__info {
        font-size: 12px;
        color: var(--c-gray);
      }

      .store {
        font-size: 12px;
      }
    }

    &__price {
      white-space: nowrap;
      font-weight: $fw-medium;
      font-size: 14px;
    }
  }
}

.additional-strip {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border: 1px solid var(--c-info-strip-border);
  background-color: var(--c-info-strip-bg);
  //font-size: 14px;
  color: var(--c-primary);

  &__icon {
    width: 50px;
    min-width: 50px;

    i {
      font-size: 35px;
    }
  }
}

.order-summary-wrapper {
  margin: 20px 0;
  padding: 0 20px;
  @include media-breakpoint-down(xxl) {
    padding: 0 10px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

.order-summary {
  margin-bottom: 15px;

  &__checbkoxes {
    li {
      margin-bottom: 15px;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5px;

    .text {
      font-size: 20px;
      @include media-breakpoint-down(xl) {
        font-size: 18px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 20px;
      }
    }

    .value {
      font-size: 24px;
      font-weight: $fw-medium;
      @include media-breakpoint-down(xl) {
        font-size: 22px;
      }
    }
  }

  &__price--small {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: var(--c-gray);

    .text {
      font-size: 14px;
      @include media-breakpoint-down(xl) {
        font-size: 13px;
      }
    }

    .value {
      font-size: 18px;
      @include media-breakpoint-down(xl) {
        font-size: 16px;
      }
    }
  }

  &__delivery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;

    .text {
      display: flex;
      flex-direction: column;
    }

    .heading {
      font-size: 16px;
      display: block;
      margin-bottom: 2px;
    }

    .name {
      font-size: 14px;
      color: var(--c-gray);
    }

    .value {
      font-weight: $fw-medium;
    }
  }
}

.next-step-text {
  padding: 10px 0;
  text-align: center;
  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
}

// 4th step

.delivery-heading {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.delivery-details {
  display: flex;
  @include media-breakpoint-only(lg) {
    display: block;
  }
  @include media-breakpoint-down(md) {
    display: block;
  }
  &__item {
    flex: 1;
    margin-bottom: 20px;
  }
}

.delivery-type {
  &__upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
  &__main {
    padding-right: 20px;
    width: 50%;
    @include media-breakpoint-down(xxl) {
      width: 100%;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 15px;
      padding-right: 0;
    }
  }
  &__heading {
    display: block;
    font-size: 18px;
    font-weight: $fw-medium;
    margin-bottom: 3px;
  }
  &__date {
    display: block;
    font-size: 14px;
    &__value {
      color: var(--c-in-stock);
    }
  }
  &__desc {
    font-size: 14px;
    padding-right: 20px;
    @include media-breakpoint-down(md) {
      margin-bottom: 15px;
      padding-right: 0;
    }

    p {
      margin-bottom: 0;
    }
  }
  &__price {
    font-size: 18px;
    font-weight: $fw-medium;
    white-space: nowrap;
    @include media-breakpoint-down(md) {
      text-align: right;
    }
  }
}

.payment-type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  @include media-breakpoint-down(md) {
    display: block;
  }

  &__heading {
    display: block;
    font-size: 18px;
    font-weight: $fw-medium;
    padding-right: 20px;
    width: 50%;
    @include media-breakpoint-down(xxl) {
      width: 100%;
      padding-right: 0;
    }
  }
  &__desc {
    font-size: 14px;
    padding-right: 20px;
    @include media-breakpoint-down(md) {
      margin-bottom: 15px;
      padding-right: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
  &__price {
    font-size: 18px;
    font-weight: $fw-medium;
    white-space: nowrap;
    @include media-breakpoint-down(md) {
      text-align: right;
    }
  }
}

.delivery-radio-group {
  .delivery-radio__item  {
    padding-right: 50px;
    padding-left: 40px;
    @include media-breakpoint-down(xxl) {
      padding-right: 10px;
      padding-left: 10px;
    }
    @include media-breakpoint-down(md) {
      padding-right: 5px;
      padding-left: 5px;
      border-radius: 0;
    }
  }
}

.delivery-radio {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px 10px 50px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;

    @include media-breakpoint-down(xxl) {
      padding-right: 5px;
      padding-left: 5px;
    }

    &:hover {
      background-color: var(--c-accordion-hover);
      border-color: var(--c-info-strip-border);

      .delivery-radio__item__name__heading {
        color: var(--c-primary);
      }
    }

    .radio-label {
      display: initial;
    }

    &__input {
      width: 40px;
      min-width: 40px;
      @include media-breakpoint-down(md) {
        width: 35px;
        min-width: 35px;
      }
    }

    &__left{
      display: flex;
      align-items: center;
      padding-right: 20px;
      @include media-breakpoint-down(md) {
        padding-right: 0;
      }
    }

    &__image {
      width: 95px;
      min-width: 95px;
      margin-right: 20px;
      text-align: center;
      @include media-breakpoint-down(xxl) {
        display: none;
      }
    }

    &__name {
      display: flex;
      flex-direction: column;
      min-width: 300px;
      @include media-breakpoint-down(xxl) {
        min-width: initial;
      }

      &__heading {
        font-size: 18px;
        font-weight: $fw-medium;
        @include media-breakpoint-down(xl) {
          font-size: 15px;
        }
      }

      &__desc {
        font-size: 12px;
        @include media-breakpoint-down(md) {
          margin-top: 5px;
        }
      }
    }

    &__right {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__date {
      font-size: 14px;
      color: var(--c-in-stock);
      padding-right: 20px;
      white-space: nowrap;
      @include media-breakpoint-down(xl) {
        font-size: 12px;
      }
      @include media-breakpoint-down(md) {
        display: none;
      }

      &--mobile {
        display: none;
        @include media-breakpoint-down(md) {
          display: block;
          margin-top: 3px;
          padding-right: 0;
        }
      }
    }

    &__desc {
      font-size: 12px;
      padding-right: 20px;
      @include media-breakpoint-down(md) {
        display: none;
      }

      &--mobile {
        display: none;
        @include media-breakpoint-down(md) {
          display: block;
          padding-right: 0;
        }
      }
    }

    &__price {
      font-size: 18px;
      font-weight: $fw-medium;
      white-space: nowrap;
      padding-left: 30px;
      @include media-breakpoint-down(xl) {
        padding-left: 20px;
        font-size: 15px;
      }
    }
  }
}

.payment-method {
  margin-bottom: 40px;

  &__unavailable {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 20px 50px;
    color: var(--c-gray);
  }
  .delivery-radio__item__image {
    width: 40px;
    min-width: 40px;
  }

  .delivery-radio__item__right {
    width: 50%;
    @include media-breakpoint-down(md) {
      width: auto;
    }
  }
}

// 5th step

.order-confirmation {
  padding: 30px 0;
  text-align: center;
  @include media-breakpoint-down(md) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @include media-breakpoint-down(md) {
    text-align: left;
  }

  &__heading {
    @include fluid-type(18px, 30px);
    font-weight: $fw-medium;

    @include media-breakpoint-down(md) {
      display: flex;
      align-items: center;
    }

    i {
      @include fluid-type(30px, 40px);
      position: relative;
      top: 3px;
      margin-right: 5px;
      @include media-breakpoint-down(md) {
        top: 0;
        margin-right: 8px;
      }
    }

    /*&:before {
      @include neo-icon();
      content: "\f138";
      color: var(--c-primary);
      margin-right: 5px;
      @include fluid-type(18px, 35px);
    }*/
  }
}

.order-confirmation-row {
  margin: 40px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media-breakpoint-down(lg) {
    margin-right: 10px;
    margin-left: 10px;
  }
  @include media-breakpoint-down(sm) {
    margin-right: 0;
    margin-left: 0;
    margin-top: 20px;
  }

  @include media-breakpoint-down(md) {
    display: block;
  }

  .method-item {
    padding-right: 20px;
    @include media-breakpoint-down(xl) {
      width: 50%;
    }
    @include media-breakpoint-down(md) {
      width: 100%;
    }

    &__heading {
      font-size: 20px;
      text-transform: uppercase;
      @include media-breakpoint-down(md) {
        margin-bottom: 10px;
      }
    }

    &__content {
      display: flex;
      align-items: center;
      @include media-breakpoint-down(md) {
        margin-bottom: 20px;
      }

      &__image {
        margin-right: 25px;
        width: 80px;
        min-width: 80px;
        text-align: center;
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }

      &__title {
        font-size: 18px;
        font-weight: $fw-medium;
        @include media-breakpoint-down(md) {
          margin-bottom: 5px;
        }
      }

      &__desc {
        font-size: 16px;
      }
    }
  }

  .date {
    .value {
      color: var(--c-in-stock);
      padding-left: 10px;
    }
  }
}

.paygate-redirect {
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: $fw-medium;
  text-align: center;
  @include media-breakpoint-down(md) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .timer {
    padding-top: 5px;
    @include fluid-type(30px, 40px);
    color: var(--c-primary);
  }
}
