<div class="product-ratings__item">
    <div class="product-ratings__item__user">
        <div class="user__image"><i class="neo-male-user"></i></div>
        <div class="user__name">Petronius Kratochvíl</div>
        <div class="user__date">25.12.2014</div>
        <div class="user__rating star-rating" title="Hodnocení: 40%">
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star"></span>
            <span class="neo-icon neo-star-empty"></span>
            <span class="neo-icon neo-star-empty"></span>
            <span class="neo-icon neo-star-empty"></span>
        </div>
    </div>
    <div class="product-ratings__item__content">
        <div class="text-rating"><p>Celkově mohu doporučit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dignissimos dolores ducimus eaque explicabo facere facilis fugit id maiores, odio officiis placeat similique temporibus ut veritatis? Delectus fuga provident saepe!</p></div>
        <div class="plus-minus">
            <ul class="plus-minus__ul plus-minus__ul--plus">
                <li class="item item--plus"><i class="neo-plus--"></i>Kladné hodnocení</li>
                <li class="item item--plus"><i class="neo-plus--"></i>Kladné hodnocení, kterí je aspoň na dva řádky, když to půjde nla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</li>
                <li class="item item--plus"><i class="neo-plus--"></i>Kladné hodnocení, kterí je aspoň na dva řádky, když to půjde</li>
                <li class="item item--plus"><i class="neo-plus--"></i>Kladné hodnocení, kterí je aspoň na dva řádky, když to půjde</li>
            </ul>
            <ul class="plus-minus__ul plus-minus__ul--minus">
                <li class="item item--minus"><i class="neo-minus-sign"></i>Záporné hodnocení</li>
            </ul>
        </div>
    </div>

</div>
