<div class="age-confirm">
    <h3 class="title">Je vyžadováno ověření věku</h3>
    <p>V košíku se nachází zboží vyžadující ověření věku. Aby bylo možné pokračovat v objednávce je nutné jeho ověření. Pokud jste u nás již nakupovali a máte ověřený věk, můžete se <a href="#">přihlásit</a>.</p>
    <div class="mojeID">
        <div class="mojeID__img">
            <img src="assets/images/podporuje-mojeID.png" alt="">
        </div>
        <div class="mojeID__text">
            <h4 class="heading">Ověření věku pomocí služby mojeID</h4>
            <p>K úspěšnému ověření Vašeho věku je nutné si založit účet na mojeID a validovat si své kontaktní údaje, včetně data narození.</p>
        </div>
        <div class="mojeID__sign">
            <a href="#"><img src="assets/images/prihlasit-mojeID.png" alt=""></a>
            <a href="#"><img src="assets/images/zalozit-mojeID.png" alt=""></a>
        </div>

    </div>
</div>
