<h2 class="section-title">Nejprodávanější značky</h2>
<div class="brands brands--slider owl-carousel">
    <a class="item" href="#">
        <img class="owl-lazy" data-src="assets/images/samples/brand.png" alt="">
    </a>
    <a class="item" href="#">
        <img class="owl-lazy" data-src="assets/images/samples/brand.png" alt="">
    </a>
    <a class="item" href="#">
        <img class="owl-lazy" data-src="assets/images/samples/brand2.png" alt="">
    </a>
    <a class="item" href="#">
        <img class="owl-lazy" data-src="assets/images/samples/brand.png" alt="">
    </a>
    <a class="item" href="#">
        <img class="owl-lazy" data-src="assets/images/samples/brand3.png" alt="">
    </a>
    <a class="item" href="#">
        <img class="owl-lazy" data-src="assets/images/samples/brand.png" alt="">
    </a>
    <a class="item" href="#">
        <img class="owl-lazy" data-src="assets/images/samples/brand.png" alt="">
    </a>
</div>
