<nav class="cart-nav">
    <div class="container">
        <ul class="cart-nav__links">
            <li class="cart-nav__link active"><a href="#"><span class="cart-nav__num">1.</span>Nákupní košík</a></li>
            <li class="cart-nav__link"><a href="#"><span class="cart-nav__num">2.</span>Dodací údaje</a></li>
            <li class="cart-nav__link"><a href="#"><span class="cart-nav__num">3.</span>Doprava a platba</a></li>
            <li class="cart-nav__link"><a href="#"><span class="cart-nav__num">4.</span>Shrnutí</a></li>
        </ul>
    </div>
</nav>
