<div class="container">
    <div class="claims claims--hp">
        <div class="claim">
            <div class="claim__icon"><i class="neo-shipped"></i></div>
            <div class="claim__text">
                <div class="claim__heading">100 000+</div>
                <div class="claim__subheading">Produktů skladem</div>
            </div>
        </div>
        <div class="claim">
            <div class="claim__icon"><i class="neo-shipped"></i></div>
            <div class="claim__text">
                <div class="claim__heading">Český produkt</div>
                <div class="claim__subheading">Vyrobeno v ČR</div>
            </div>
        </div>
        <div class="claim">
            <div class="claim__icon"><i class="neo-shipped"></i></div>
            <div class="claim__text">
                <div class="claim__heading">Doprava zdarma</div>
                <div class="claim__subheading">Na objednávky nad 500 Kč</div>
            </div>
        </div>
    </div>
</div>
