<div class="page-fade-bg">
    <div class="cookies-consent modal modal--rounded">
        <div class="modal__full-width">
            <div class="cookies-consent__inner">
                <div class="cookies-consent__info">
                    <h3 class="cookies-consent__info__heading modal__heading">Nastavení Cookies</h3>
                    <p class="cookies-consent__info__subheading">Co jsou to cookies?</p>
                    <div class="cookies-consent__info__text">
                        <p>Soubory cookies a další technologie nám pomáhají zlepšovat naše služby, pomáhají nám analyzovat výkon webu a umožňují nám pomáhat zákazníkovi ve výběru správného zboží - například tak, abychom vám zobrazovali to, co právě hledáte a zlepšili tak uživatelský komfort při nakupování. Níže si můžete vybrat, která cookies chcete povolit nebo všechny zcela deaktivovat.</p>
                        <p>Přečtěte si naše <a href="#">zásady o zpracování osobních údajů</a>.</p>
                    </div>
                </div>
                <div class="cookies-consent__action">
                    <a href="#" class="btn btn--no-background btn--bigger">Odmítnout vše</a>
                    <a href="#modal-cookies" class="popup-modal btn btn--no-background btn--bigger">Nastavení preferencí</a>
                    <a href="#" class="btn btn--primary btn--bigger">Přijmout vše</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> modals__cookies}}
