<div class="cookies-bar">
    <div class="container">
        <div class="cookies-bar__inner">
            <div class="cookies-bar__info">
                <span class="cookies-bar__info__heading">Informace o zpracování Cookies</span>
                <div class="cookies-bar__info__text">Tato stránka v rámci poskytování služeb využívá cookies. Nastavení používání a dostupnosti cookies můžete upravit v nastavení Vašeho prohlížeče.</div>
            </div>
            <div class="cookies-bar__action">
                <a href="#" class="btn btn--primary">Souhlasím</a>
                <a href="#">Nastavení cookies</a>
            </div>
        </div>
    </div>
</div>
