<div class="errors">
    <div class="error error--warning error--active">
        <div class="error__content">
            <span class="error__icon error__icon--warning"></span>
            <div class="error__text"><p>Error hláška oranžová - paragraph</p></div>
            <span class="error__close-icon"></span>
        </div>
    </div>
    <div class="error error--success error--active">
        <div class="error__content">
            <span class="error__icon error__icon--check"></span>
            <div class="error__text"><p>Error hláška zelená s poněkud delším textem lalalala lalala, abychom viděli, jak se bude rozpínat, napínat a jinak -pínat</p>
                <br><p>MAX ŠÍŘKA je defaultně 800px. Error hláška zelená s poněkud delším textem lalalala lalala, abychom viděli, jak se bude rozpínat, napínat a jinak -pínat</p></div>
            <span class="error__close-icon"></span>
        </div>
    </div>
    <div class="error error--info error--active">
        <div class="error__content">
            <span class="error__icon error__icon--info"></span>
            <div class="error__text">Error hláška modrá - bez paragraphu</div>
            <span class="error__close-icon"></span>
        </div>
    </div>
</div>
