<h2 class="section-title section-title--center">Vybrané kategorie - obrázky</h2>
<div class="featured-categories featured-categories--images slick-slider">
    <div class="item">
        <a href="#" class="item__link">
            <img class="item__image" data-lazy="assets/images/samples/produkt.png" alt="">
            <span class="item__title">Turistické batohy</span>
        </a>
    </div>

    <div class="item">
        <a href="#" class="item__link">
            <img class="item__image" data-lazy="assets/images/samples/produkt.png" alt="">
            <span class="item__title">Koloběžky</span>
        </a>
    </div>

    <div class="item">
        <a href="#" class="item__link">
            <img class="item__image" data-lazy="assets/images/samples/produkt.png" alt="">
            <span class="item__title">Turistické batohy</span>
        </a>
    </div>

    <div class="item">
        <a href="#" class="item__link">
            <img class="item__image" data-lazy="assets/images/samples/produkt.png" alt="">
            <span class="item__title">Lyžařské helmy</span>
        </a>
    </div>

    <div class="item">
        <a href="#" class="item__link">
            <img class="item__image" data-lazy="assets/images/samples/produkt.png" alt="">
            <span class="item__title">Koloběžky</span>
        </a>
    </div>

    <div class="item">
        <a href="#" class="item__link">
            <img class="item__image" data-lazy="assets/images/samples/produkt.png" alt="">
            <span class="item__title">Koloběžky</span>
        </a>
    </div>

    <div class="item">
        <a href="#" class="item__link">
            <img class="item__image" data-lazy="assets/images/samples/produkt.png" alt="">
            <span class="item__title">Lyžařské helmy</span>
        </a>
    </div>

    <div class="item">
        <a href="#" class="item__link">
            <img class="item__image" data-lazy="assets/images/samples/produkt.png" alt="">
            <span class="item__title">Koloběžky</span>
        </a>
    </div>

    <div class="item">
        <a href="#" class="item__link">
            <img class="item__image" data-lazy="assets/images/samples/produkt.png" alt="">
            <span class="item__title">Koloběžky</span>
        </a>
    </div>

    <div class="item">
        <a href="#" class="item__link">
            <img class="item__image" data-lazy="assets/images/samples/produkt.png" alt="">
            <span class="item__title">Koloběžky</span>
        </a>
    </div>

    <div class="item">
        <a href="#" class="item__link">
            <img class="item__image" data-lazy="assets/images/samples/produkt.png" alt="">
            <span class="item__title">Koloběžky</span>
        </a>
    </div>

</div>
