<div class="featured-categories featured-categories--icons featured-categories--icons--4-items">
    <div class="item">
        <a href="#" class="item__link">
            <span class="item__image-wrapper">
                <img class="item__image lazy" data-src="assets/images/samples/batoh-icon.png" alt="">
            </span>
            <span class="item__title">Turistické batohy</span>
        </a>
    </div>

    <div class="item">
        <a href="#" class="item__link">
            <span class="item__image-wrapper">
                <img class="item__image lazy" data-src="assets/images/samples/kolobezka-icon.png" alt="">
            </span>
            <span class="item__title">Koloběžky</span>
        </a>
    </div>

    <div class="item">
        <a href="#" class="item__link">
            <span class="item__image-wrapper">
                <img class="item__image lazy" data-src="assets/images/samples/batoh-icon.png" alt="">
            </span>
            <span class="item__title">Turistické batohy na dva řádky</span>
        </a>
    </div>

    <div class="item">
        <a href="#" class="item__link">
            <span class="item__image-wrapper">
                <img class="item__image lazy" data-src="assets/images/samples/kolobezka-icon.png" alt="">
            </span>
            <span class="item__title">Lyžařské helmy</span>
        </a>
    </div>
</div>
