<div class="header-fade-bg"></div>
<header id="topHeader" class="top-header top-header--no-mobile-menu">
    <div class="container container--menu">
        <div class="top-header__content">
            <div class="logo">
                {{> header__logo}}
            </div>
            <div class="contact-us">
                {{> header__contact}}
            </div>
            <div class="user">
                {{> header__user--no-compare}}
            </div>
        </div>
    </div>
</header>
