<div class="menu-fade-bg"></div>
<div class="main-menu-wrapper">
    <div class="container main-menu-wrapper__container">
        <nav id="mainMenu" class="main-menu">
            <ul class="main-menu__list">
                <li class="all-categories has-submenu"><a href="#">Všechny kategorie</a>
                    {{> menu__all-categories}}
                </li>
                <li><a href="#">Úvod</a></li>
                <li class="has-submenu"><a href="#">Doprava a platba</a>
                    <ul class="main-menu__list__submenu submenu">
                        <li><a href="#">Dodací podmínky</a></li>
                        <li class="active"><a href="#">Ceny dopravy a platby</a></li>
                        <li><a href="#">Výdejní místa</a></li>
                        <li><a href="#">Možnosti platby</a></li>
                    </ul>
                </li>
                <li class="has-submenu has-submenu--wide-menu"><a href="#">Akce a slevy</a>
                    {{> menu__wide-menu}}
                </li>
                <li class="has-submenu"><a href="#">Magazín</a>
                    <ul class="main-menu__list__submenu submenu">
                        <li><a href="#">Další položka</a></li>
                        <li><a href="#">Další položka</a></li>
                        <li><a href="#">Další položka</a></li>
                    </ul>
                </li>
                <li class="active"><a href="#">Prodejny</a></li>
                <li><a href="#">Obchodní podmínky</a></li>
                <li><a href="#">Kontakty</a></li>
            </ul>
            <div id="mainMenuNext" class="main-menu__next">
                <a href="#" id="mainMenuNextOpen"><i class="neo-more"></i></a>
                <ul id="mainMenuNextNav" class="main-menu__next__nav"></ul>
            </div>
        </nav>
    </div>
</div>

