<div class="pagination-wrapper">
    <div class="pagination pagination--desktop">
        <!--pagination--desktop je jen pro účely ukázky, změna v kodu bude na straně php-->
        <a href="#" class="pagination__arrow pagination__arrow--prev">Previous</a>
        <ul>
            <li class="pagination__item"><a href="#">1</a></li>
            <li class="pagination__item"><a href="#">2</a></li>
            <li class="pagination__item"><a href="#">3</a></li>
            <li class="pagination__item"><a href="#" class="active">4</a></li>
            <li class="pagination__item"><a href="#">5</a></li>
            <li class="pagination__item"><a href="#">6</a></li>
            <li class="pagination__item pagination__item--more">...</li>
            <li class="pagination__item"><a href="#">15</a></li>
        </ul>
        <a href="#" class="pagination__arrow pagination__arrow--next">Next</a>
    </div>

    <div class="pagination pagination--mobile">
        <!--pagination--mobile je jen pro účely ukázky, změna v kodu bude na straně php-->
        <a href="#" class="pagination__arrow pagination__arrow--prev">Previous</a>
        <ul>
            <li class="pagination__item"><a href="#">1</a></li>
            <li class="pagination__item pagination__item--more">...</li>
            <li class="pagination__item"><a href="#" class="active">4</a></li>
            <li class="pagination__item pagination__item--more">...</li>
            <li class="pagination__item"><a href="#">15</a></li>
        </ul>
        <a href="#" class="pagination__arrow pagination__arrow--next">Next</a>
    </div>
</div>
