<div class="product-detail__gallery">

    <div class="product-detail__gallery__carousel">
        <div class="product-tags">
            <ul>
                <li class="product-tag product-tag--blue">Doporučujeme</li>
                <li class="product-tag product-tag--black">Dárek zdarma</li>
            </ul>
        </div>
        <div class="product-tags product-tags--right">
            <ul>
                <li class="product-tag product-tag--blue">Tagy vpravo</li>
                <li class="product-tag product-tag--black">Dárek zdarma</li>
            </ul>
        </div>
        <span class="sticker">-50%</span>

        <div class="carousel__main-image carousel__main-image--detail slick-slider">
            <div class="item">
                <img data-lazy="assets/images/samples/product-detail-photo.png" alt="">
            </div>
            <div class="item">
                <img  data-lazy="assets/images/samples/product-detail-photo-2.jpg" alt="">
            </div>
            <div class="item">
                <img data-lazy="assets/images/samples/product-detail-photo-3.jpg" alt="">
            </div>
            <div class="item">
                <img data-lazy="assets/images/samples/product-detail-photo-4.jpg" alt="">
            </div>
            <div class="item">
                <img data-lazy="assets/images/samples/product-detail-photo-5.jpg" alt="">
            </div>
            <div class="item">
                <img data-lazy="assets/images/samples/product-detail-photo-6.jpg" alt="">
            </div>
            <div class="item">
                <img data-lazy="assets/images/samples/product-detail-photo-7.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="carousel__thumbnails carousel__thumbnails--detail slick-slider">
        <div class="item">
            <img data-lazy="assets/images/samples/product-detail-photo.png" alt="">
        </div>
        <div class="item">
            <img data-lazy="assets/images/samples/product-detail-photo-2.jpg" alt="">
        </div>
        <div class="item">
            <img data-lazy="assets/images/samples/product-detail-photo-3.jpg" alt="">
        </div>
        <div class="item">
            <img data-lazy="assets/images/samples/product-detail-photo-4.jpg" alt="">
        </div>
        <div class="item">
            <img data-lazy="assets/images/samples/product-detail-photo-5.jpg" alt="">
        </div>
        <div class="item">
            <img data-lazy="assets/images/samples/product-detail-photo-6.jpg" alt="">
        </div>
        <div class="item">
            <img data-lazy="assets/images/samples/product-detail-photo-7.jpg" alt="">
        </div>
    </div>
</div>

{{> modals__product-detail-gallery}}
