<div class="product-detail__info">
    <h1 class="title product-title">Under Armour Dámské Červené tričko JZSHOP s krátkým rukávem</h1>
    <p class="desc">Porttitor etiam sed velit ac, platea? Ridiculus, porta! Duis, parturient phasellus pid habitasse
        integer et lorem sit nec pid, integer, porttitor nisi, nec mattis? Rhoncus ultrices sit elementum integer cursus
        nascetur velit ac ellentesque, cursus montes rhoncus enim lectus ...</p>


    {{> product__info__links}}

    {{> product__info__add-to-cart}}

    {{> product__info__gift-and-others}}

    {{> cart__additional-strip--delivery}}

    {{> product__info__actions}}
</div>
