<div class="product-detail__tabs-list-wrapper full-width" id="scroller-anchor">
    <div class="product-detail__tabs" id="scroller">
        <ul class="list">
            <li class="tab-1 item active"><a href="#tab-1">Základní informace</a></li>
            <li class="tab-2 item"><a href="#tab-2">Alternativní zboží <span class="count">(4)</span></a></li>
            <li class="tab-3 item"><a href="#tab-3">Příslušenství</a></li>
            <li class="tab-4 item"><a href="#tab-4">Hodnocení <span class="count">(0)</span></a></li>
            <li class="tab-5 item"><a href="#">Galerie</a></li>
            <li class="tab-6 item"><a href="#">Další položka</a></li>
            <li class="tab-7 item"><a href="#">Ješta jedna</a></li>
        </ul>
        <div class="product-add-to-cart">
            <div class="img">
                <img class="lazy" data-src="assets/images/samples/product-detail-photo.jpg" alt="">
            </div>
            <div class="content">
                <div class="name">Dámské červené tričko s delším názvem</div>
                <div class="bottom">
                    <div class="desc">XXL, Červená</div>
                    <div class="price">110 500 Kč</div>
                </div>
            </div>
            <div class="btn-wrapper">
                <a href="#" class="btn btn--add-to-cart btn--add-to-cart--type-2">Do košíku</a>
            </div>
            <a class="back-to-top" href="#">
                <i class="neo-collapse-arrow"></i>
            </a>
        </div>
    </div>
</div>

{{> product__tabs__main-info}}

{{> product__tabs__alternative}}

{{> product__tabs__accessories}}

{{> product__tabs__ratings}}
