<div class="product-accessories__item">
    <div class="image">
        <a href="#"><img class="lazy" data-src="assets/images/samples/batoh.png" alt=""></a>
    </div>
    <div class="content">
        <div class="name"><a href="#">Rossignol Název produktu</a></div>
        <div class="store store--yes">Skladem u dodavatele více než 10 ks</div>
        <div class="bottom">
            <div class="price">156 999 Kč</div>
            <a href="#" class="btn btn--conversion">Do košíku</a>
        </div>
    </div>
</div>
