.top-header {
  background-color: var(--c-top-header);
  color: var(--c-header-text);
  position: relative;
  z-index: 9;
  //padding: 17px 0 22px;
  @include media-breakpoint-down(md) {
    height: 60px;
  }

  a {
    color: var(--c-header-text);
    text-decoration: none;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    //align-items: center;
    position: relative;
    @include media-breakpoint-down(md) {
      height: 60px;
    }
  }

  .logo {
    //width: 30%;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-self: center;
    @include media-breakpoint-down(md) {
      margin-left: 60px;
    }

    &__top {
      display: flex;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &__link {
      display: block;
      img {
        float: left;
        @include media-breakpoint-down(md) {
          max-height: 33px;
        }
      }
    }

  }

  .search {
    //width: 35%;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-self: center;
    @include media-breakpoint-down(lg) {
      padding-right: 0;
    }
    @include media-breakpoint-down(md) {
      padding-right: 0;
      position: absolute;
      right: 115px;
    }
    @include media-breakpoint-down(sm) {
      right: 90px;
    }

    .input-with-btn__input {
      @include media-breakpoint-up(xl) {
        width: 350px;
      }
    }

    .input-with-btn__btn {
      width: 46px;
    }

    &__top {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &-mobile {
      i {
        font-weight: bold;
        font-size: 30px;
      }
    }
  }

  .input-with-btn--search-input {
    position: relative;
    @include media-breakpoint-down(md) {
      display: none;
    }

    &.on-mobile {
      display: flex;
      @include media-breakpoint-up(md) {
        display: none;
      }
      > input {
        width: 100%;
        border-radius: 0;
      }

      > button {
        border-radius: 0;
      }
    }
  }

  #search-mobile {
    display: none;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  .user {
    //width: 35%;
    display: flex;
    justify-content: flex-end;

    &__item {
      position: relative;
      display: flex;

      &:hover {
        background-color: rgba(255,255,255,.2);
        @include media-breakpoint-down(lg) {
          background-color: transparent;
        }
      }

      &__wrapper {
        padding: 0 25px;
        display: flex;
        align-items: center;

        @include media-breakpoint-down(lg) {
          padding: 0 10px;
        }

        @include media-breakpoint-down(sm) {
          padding: 0 5px;
        }

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    // user-login box
    &__login {
      &__icon {
        padding-right: 10px;
        @include media-breakpoint-down(lg) {
          padding-right: 0;
        }
        &:before {
          @include neo-icon;
          content: "\f107";
          font-size: 45px;
          @include media-breakpoint-down(md) {
            font-size: 35px;
          }
        }
      }

      &__text {
        display: flex;
        flex-direction: column;
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }

      &__heading {
        font-size: 18px;
        font-weight: $fw-medium;
      }

      &__subheading {
        font-size: 12px;
        font-weight: $fw-medium;
      }

      @include media-breakpoint-down(sm) {
        //display: none;
      }
    }

    // user-compare box
    &__compare {
      @include media-breakpoint-down(md) {
        display: none;
      }
      &__icon {
        position: relative;
        &:before {
          @include neo-icon;
          content: "\f106";
          font-size: 45px;
        }

        .notify-num {
          right: -5px;
        }
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    // user-basket box
    &__cart {
      &:hover {
        .user__cart__open {
          display: block;
        }
      }
      &__icon {
        position: relative;
        &:before {
          @include neo-icon;
          content: "\f104";
          @include fluid-type(30px, 45px);
          @include media-breakpoint-only(md) {
            font-size: 40px;
          }
        }

        .notify-num {
          right: -10px;
          @include media-breakpoint-down(md) {
            width: 22px;
            height: 22px;
            right: -7px;
            top: -7px;
          }
        }
      }

      &__price {
        padding-left: 18px;
        font-size: 18px;
        font-weight: $fw-bold;
        white-space: nowrap;

        @include media-breakpoint-down(lg) {
          display: none;
        }
      }

      &__open {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--c-content);
        z-index: 5;
        width: 500px;
        color: var(--c-text);
        @include media-breakpoint-down(sm) {
          right: -15px;
          width: 100vw;
        }

        .cart-table {
          background-color: var(--c-user-cart);
          padding: 15px 25px;
          display: table;
          width: 100%;
          @include media-breakpoint-down(sm) {
            padding: 10px;
          }

          a {
            color: var(--c-text);
          }

          .item {
            display: table-row;

            > div {
              display: table-cell;
              vertical-align: middle;
              padding-top: 5px;
              padding-bottom: 5px;
            }

            &__image {
              a {
                width: 66px;
                min-width: 66px;
                height: 66px;
                margin-right: 15px;
                border: 1px solid var(--c-wrapper-border);
                border-radius: 10px;
                background-color: var(--c-navigation);
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                @include media-breakpoint-down(sm) {
                  width: 45px;
                  min-width: 45px;
                  height: 45px;
                }
              }
            }

            &__text {
              &__title {
                font-size: 15px;
                font-weight: $fw-medium;
                margin-bottom: 3px;
                @include media-breakpoint-down(sm) {
                  font-size: 12px;
                }

                a {
                  &:hover {
                    color: var(--c-primary);
                    text-decoration: underline;
                  }
                }
              }

              &__desc {
                font-size: 12px;
              }
            }

            &__quantity {
              white-space: nowrap;
              padding-left: 20px;
              padding-right: 20px;
              @include media-breakpoint-down(sm) {
                font-size: 13px;
                padding-left: 8px;
                padding-right: 8px;
              }
            }

            &__price {
              white-space: nowrap;
              padding-right: 25px;
              font-weight: $fw-medium;
              text-align: right;
              @include media-breakpoint-down(sm) {
                font-size: 13px;
                padding-right: 15px;
              }
            }

            &__close{
              font-size: 20px;
              @include media-breakpoint-down(sm) {
                font-size: 15px;
              }

              a {
                color: var(--c-placeholder);
                &:hover {
                  color: var(--c-text);
                }
              }
            }
          }
        }

        .bottom {
          padding: 15px 25px;

          .delivery-info {
            margin-bottom: 15px;
            i {
              font-size: 30px;
              color: var(--c-primary);
              margin-right: 10px;
            }
            &__text {
              margin-bottom: 5px;
              display: flex;
              align-items: center;
              font-size: 16px;
              font-weight: $fw-medium;
              @include media-breakpoint-down(sm) {
                font-size: 14px;
              }
            }
          }

          .right {
            text-align: right;
          }
        }
      }
    }
  }

  //

  .switcher {
    font-size: rem(14px);
    font-weight: $fw-medium;
    margin-bottom: 10px;
    padding-right: 10px;
    &:last-child {
      margin-right: 10px;
    }
    &:not(:last-child) {
      border-right: 1px solid var(--c-header-text);
    }
    &:not(:first-child) {
      padding-left: 10px;
    }
  }

  .contact {
    display: inline-block;
    font-size: rem(14px);
    margin-bottom: 10px;
    padding-right: 20px;

    i {
      position: relative;
      top: 2px;
      font-size: 18px;
    }

    &--menu {
      ul {
        li {
          display: inline-block;
          &:not(:last-child) {
            padding-right: 9px;
            border-right: 1px solid var(--c-header-text);
          }
          &:not(:first-child) {
            padding-left: 8px;
          }

          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.header-fade-bg {
  display: none;
  position: fixed;
  z-index: 9;
  background-color: var(--c-fade-bg);
  left: 0;
  width: 100%;
  height: 100%;
}
