.breadcrumb {
  margin: 15px 0;
  ul {
    li {
      display: inline;
      color: #b9b9b9;
      font-size: rem(12px);
      @include media-breakpoint-down(sm) {
        display: none;
        &:nth-last-of-type(-n+2) {
          display: inline;
        }
      }

      &:not(:last-child) {
        &:after {
          content: ">";
          color: var(--c-text);
          margin-left: 10px;
          margin-right: 7px;
        }
      }
      a {
        color: var(--c-text);
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

// CART NAVIGATION
.cart-nav {
  margin: 15px 0 0;

  &__links {
    display: flex;
    justify-content: center;
  }

  &__link {
    margin: 2px 30px;
    @include fluid-type(14px, 20px);
    color: var(--c-text);
    text-transform: uppercase;
    &.active {
      color: var(--c-primary);
      a {
        color: var(--c-primary);
      }
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    @include media-breakpoint-down(xxl) {
      margin-right: 15px;
      margin-left: 15px;
    }

    @include media-breakpoint-down(lg) {
      text-transform: initial;
      margin-right: 20px;
      margin-left: 20px;
    }

    @include media-breakpoint-down(sm) {
      text-transform: initial;
      margin-right: 10px;
      margin-left: 10px;
    }

    a {
      display: flex;
      padding: 22px 40px;
      text-decoration: none;
      border-radius: 10px;
      color: var(--c-text);
      text-align: center;
      &:hover {
        background-color: var(--c-wrapper-border);
      }

      @include media-breakpoint-down(xxl) {
        padding: 20px 20px;
      }

      @include media-breakpoint-down(lg) {
        flex-direction: column;
        padding: 10px 0;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  &__num {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    @include media-breakpoint-down(lg) {
      display: block;
      margin-right: 0;
    }
  }

}


.owl-nav.owl-nav--general {
  position: absolute;
  top: 40%;
  width: 100%;
  color: #ffffff;

  button.owl-prev,
  button.owl-next {
    position: absolute;
    background-color: var(--c-primary);
    width: 40px;
    height: 65px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      box-shadow: 0px 0px 5px 0px #aaaaaa;
    }
    @include media-breakpoint-down(md) {
      width: 32px;
      height: 50px;
    }
  }

  .owl-prev {
    left: -50px;
    @media screen and (max-width: 1500px) and (min-width: 1400px) {
      left: -5px
    }
    @media screen and (max-width: 1250px) and (min-width: 1200px) {
      left: -5px
    }
    @media screen and (max-width: 1090px) and (min-width: 992px) {
      left: -5px
    }
    @media screen and (max-width: 840px) and (min-width: 768px) {
      left: -5px
    }
    @media screen and (max-width: 630px) {
      left: -5px
    }
    i {
      margin-left: 5px;
    }
  }

  .owl-next {
    right: -50px;
    @media screen and (max-width: 1500px) and (min-width: 1400px) {
      right: -5px
    }
    @media screen and (max-width: 1250px) and (min-width: 1200px) {
      right: -5px
    }
    @media screen and (max-width: 1090px) and (min-width: 992px) {
      right: -5px
    }
    @media screen and (max-width: 840px) and (min-width: 768px) {
      right: -5px
    }
    @media screen and (max-width: 630px) {
      right: -5px
    }
  }

  i {
    font-size: 45px;
  }
}
