<div id="mainBanner" class="main-banner owl-carousel">
    <div class="item">
        <div class="main-banner__image owl-lazy" data-src="assets/images/samples/main-banner.jpg" src="assets/images/samples/main-banner.jpg">
            <div class="main-banner__content">
                <h1 class="main-banner__title">VÝPRODEJ SKLADŮ</h1>
                <h2 class="main-banner__subtitle">SLEVY AŽ 50%</h2>
                <span class="main-banner__desc">POPIS HLAVNÍHO BANNERU</span>
                <div class="main-banner__btn-wrapper">
                    <a href="#" class="main-banner__btn">PROHLÉDNOUT</a>
                </div>

            </div>
        </div>
    </div>

    <div class="item">
        <div class="main-banner__image owl-lazy" data-src="https://dummyimage.com/1920x1080/eee/555" src="https://dummyimage.com/1920x1080/eee/555">
            <div class="main-banner__content">
                <h1 class="main-banner__title">BEZ podbarvení</h1>
                <h2 class="main-banner__subtitle">SLEVY AŽ 50%</h2>
                <span class="main-banner__desc">POPIS HLAVNÍHO BANNERU</span>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="main-banner__image with-filter owl-lazy" data-src="https://dummyimage.com/1920x1080/eee/555" src="https://dummyimage.com/1920x1080/eee/555">
            <div class="main-banner__content">
                <h1 class="main-banner__title">Podbarvení 0.25</h1>
                <h2 class="main-banner__subtitle">SLEVY AŽ 50%</h2>
                <span class="main-banner__desc">POPIS HLAVNÍHO BANNERU</span>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="main-banner__image owl-lazy dark-text" data-src="https://dummyimage.com/1920x1080/eee/555" src="https://dummyimage.com/1920x1080/eee/555">
            <div class="main-banner__content">
                <h1 class="main-banner__title">Bez podbarvení</h1>
                <h2 class="main-banner__subtitle">Černý text</h2>
                <span class="main-banner__desc">POPIS HLAVNÍHO BANNERU</span>
                <div class="main-banner__btn-wrapper">
                    <a href="#" class="main-banner__btn">PROHLÉDNOUT</a>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="main-banner__image owl-lazy" data-src="https://dummyimage.com/1920x1080/000/fff" src="https://dummyimage.com/1920x1080/000/fff">
        </div>
    </div>
</div>
