<div id="mainBannerSecondary" class="main-banner main-banner--secondary slick-slider">
    <div class="item">
        <div class="main-banner__image">
            <img class="bg-img lazy" data-src="assets/images/samples/main-banner.jpg" alt="">
            <div class="main-banner__content">
                <h1 class="main-banner__title">VÝPRODEJ SKLADŮ</h1>
                <h2 class="main-banner__subtitle">SLEVY AŽ 50%</h2>
                <span class="main-banner__desc">POPIS HLAVNÍHO BANNERU</span>
                <div class="main-banner__btn-wrapper">
                    <a href="#" class="main-banner__btn">PROHLÉDNOUT</a>
                </div>

            </div>
        </div>
    </div>

    <div class="item">
        <div class="main-banner__image with-filter">
            <img class="bg-img lazy" data-src="assets/images/samples/minibanner.png" alt="">
            <div class="main-banner__content">
                <h1 class="main-banner__title">S podbarvením 0.25</h1>
                <h2 class="main-banner__subtitle">SLEVY AŽ 50%</h2>
                <span class="main-banner__desc">POPIS HLAVNÍHO BANNERU</span>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="main-banner__image dark-text">
            <img class="bg-img lazy" data-src="assets/images/samples/minibanner.png" alt="">
            <div class="main-banner__content">
                <h1 class="main-banner__title">Bez podbarvení</h1>
                <h2 class="main-banner__subtitle">ČERNÝ TEXT</h2>
                <span class="main-banner__desc">POPIS HLAVNÍHO BANNERU</span>
            </div>
        </div>
    </div>
</div>
