<div id="mainBanner" class="main-banner slick-slider">
    <div class="item">
        <div class="main-banner__image">
            <img class="bg-img" data-lazy="assets/images/samples/main-banner.jpg" alt="">
            <div class="main-banner__content">
                <h1 class="main-banner__title">VÝPRODEJ SKLADŮ</h1>
                <h2 class="main-banner__subtitle">SLEVY AŽ 50%</h2>
                <span class="main-banner__desc">POPIS HLAVNÍHO BANNERU</span>
                <div class="main-banner__btn-wrapper">
                    <a href="#" class="main-banner__btn">PROHLÉDNOUT</a>
                </div>

            </div>
        </div>
    </div>

    <div class="item">
        <div class="main-banner__image">
            <img class="bg-img" data-lazy="https://dummyimage.com/1920x1080/eee/555" alt="">
            <div class="main-banner__content">
                <h1 class="main-banner__title">BEZ podbarvení</h1>
                <h2 class="main-banner__subtitle">SLEVY AŽ 50%</h2>
                <span class="main-banner__desc">POPIS HLAVNÍHO BANNERU</span>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="main-banner__image with-filter">
            <img class="bg-img" data-lazy="https://dummyimage.com/1920x1080/eee/555" alt="">
            <div class="main-banner__content">
                <h1 class="main-banner__title">Podbarvení 0.25</h1>
                <h2 class="main-banner__subtitle">SLEVY AŽ 50%</h2>
                <span class="main-banner__desc">POPIS HLAVNÍHO BANNERU</span>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="main-banner__image dark-text">
            <img class="bg-img" data-lazy="https://dummyimage.com/1920x1080/eee/555" alt="">
            <div class="main-banner__content">
                <h1 class="main-banner__title">Bez podbarvení</h1>
                <h2 class="main-banner__subtitle">Černý text</h2>
                <span class="main-banner__desc">POPIS HLAVNÍHO BANNERU</span>
                <div class="main-banner__btn-wrapper">
                    <a href="#" class="main-banner__btn">PROHLÉDNOUT</a>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="main-banner__image">
            <img class="bg-img" data-lazy="https://dummyimage.com/1920x1080/eee/555" alt="">
        </div>
    </div>
</div>
