<div id="mainBannerSecondary" class="main-banner main-banner--secondary owl-carousel">
    <div class="item">
        <div class="main-banner__image owl-lazy lazy" data-src="assets/images/samples/main-banner.jpg" src="assets/images/samples/main-banner.jpg" data-bg="assets/images/samples/main-banner.jpg">
            <div class="main-banner__content">
                <h1 class="main-banner__title">VÝPRODEJ SKLADŮ</h1>
                <h2 class="main-banner__subtitle">SLEVY AŽ 50%</h2>
                <span class="main-banner__desc">POPIS HLAVNÍHO BANNERU</span>
                <div class="main-banner__btn-wrapper">
                    <a href="#" class="main-banner__btn">PROHLÉDNOUT</a>
                </div>

            </div>
        </div>
    </div>

    <div class="item">
        <div class="main-banner__image with-filter owl-lazy lazy" data-src="assets/images/samples/minibanner.png" src="assets/images/samples/minibanner.png" data-bg="assets/images/samples/minibanner.png">
            <div class="main-banner__content">
                <h1 class="main-banner__title">S podbarvením 0.25</h1>
                <h2 class="main-banner__subtitle">SLEVY AŽ 50%</h2>
                <span class="main-banner__desc">POPIS HLAVNÍHO BANNERU</span>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="main-banner__image dark-text owl-lazy lazy" data-src="assets/images/samples/minibanner.png" src="assets/images/samples/minibanner.png" data-bg="assets/images/samples/minibanner.png">
            <div class="main-banner__content">
                <h1 class="main-banner__title">Bez podbarvení</h1>
                <h2 class="main-banner__subtitle">ČERNÝ TEXT</h2>
                <span class="main-banner__desc">POPIS HLAVNÍHO BANNERU</span>
            </div>
        </div>
    </div>
</div>
